@theme {
  --color-amber-25: var(--color-amber-25);
  --color-amber-50: var(--color-amber-50);
  --color-amber-100: var(--color-amber-100);
  --color-amber-200: var(--color-amber-200);
  --color-amber-300: var(--color-amber-300);
  --color-amber-400: var(--color-amber-400);
  --color-amber-500: var(--color-amber-500);
  --color-amber-600: var(--color-amber-600);
  --color-amber-700: var(--color-amber-700);
  --color-amber-800: var(--color-amber-800);
  --color-amber-900: var(--color-amber-900);
  --color-amber-950: var(--color-amber-950);
}

:root {
  --color-amber-25: oklch(0.9942541896737754 0.002849138244597495 84.55868569877624);
  --color-amber-50: oklch(0.9855939940957877 0.023785013555473574 99.09569716530252);
  --color-amber-100: oklch(0.9695443643351532 0.06841627443081028 100.38795051558503);
  --color-amber-200: oklch(0.9446686601589552 0.1034376540063778 97.9087581287153);
  --color-amber-300: oklch(0.9179911694441543 0.13263771592782694 98.23079444791232);
  --color-amber-400: oklch(0.880405693052434 0.12326628105942315 93.39193068705886);
  --color-amber-500: oklch(0.8272681883245504 0.12242725537088597 86.69477290956539);
  --color-amber-600: oklch(0.757679874297181 0.14027803698253408 76.71982888575108);
  --color-amber-700: oklch(0.8536967789704296 0.15720694956284398 84.12997707143718);
  --color-amber-800: oklch(0.831294864496191 0.16791622087977232 80.84743810775538);
  --color-amber-900: oklch(0.5706475243309929 0.12913673859995195 63.93790600181528);
  --color-amber-950: oklch(0.3521885835920864 0.04863304169569031 54.16860365751982);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-amber-25: oklch(0.18496364087046369 0.013359959535837317 77.79605270245312);
    --color-amber-50: oklch(0.2119861368705354 0.018407650167291928 81.98600713701707);
    --color-amber-100: oklch(0.257808559766789 0.04421859463029474 74.47810000728678);
    --color-amber-200: oklch(0.29550007290079866 0.06266537366308222 73.87895539470946);
    --color-amber-300: oklch(0.33631868818884497 0.07167260952107071 72.89762996033014);
    --color-amber-400: oklch(0.3863324864692717 0.07838541353467135 75.25462654709607);
    --color-amber-500: oklch(0.4542406121348809 0.0823548590723581 74.95844153293264);
    --color-amber-600: oklch(0.5363794136131023 0.09638509337838844 73.43524387082472);
    --color-amber-700: oklch(0.8536967789704296 0.15720694956284398 84.12997707143718);
    --color-amber-800: oklch(0.884914165162036 0.18051275801021477 94.78432215497106);
    --color-amber-900: oklch(0.8616673967420055 0.17297358236844246 89.01771080135936);
    --color-amber-950: oklch(0.9350519584455906 0.07171007869261385 86.06819062869732);
  }
}

.dark {
  --color-amber-25: oklch(0.18496364087046369 0.013359959535837317 77.79605270245312);
  --color-amber-50: oklch(0.2119861368705354 0.018407650167291928 81.98600713701707);
  --color-amber-100: oklch(0.257808559766789 0.04421859463029474 74.47810000728678);
  --color-amber-200: oklch(0.29550007290079866 0.06266537366308222 73.87895539470946);
  --color-amber-300: oklch(0.33631868818884497 0.07167260952107071 72.89762996033014);
  --color-amber-400: oklch(0.3863324864692717 0.07838541353467135 75.25462654709607);
  --color-amber-500: oklch(0.4542406121348809 0.0823548590723581 74.95844153293264);
  --color-amber-600: oklch(0.5363794136131023 0.09638509337838844 73.43524387082472);
  --color-amber-700: oklch(0.8536967789704296 0.15720694956284398 84.12997707143718);
  --color-amber-800: oklch(0.884914165162036 0.18051275801021477 94.78432215497106);
  --color-amber-900: oklch(0.8616673967420055 0.17297358236844246 89.01771080135936);
  --color-amber-950: oklch(0.9350519584455906 0.07171007869261385 86.06819062869732);
}
