@theme {
  --color-blue-25: var(--color-blue-25);
  --color-blue-50: var(--color-blue-50);
  --color-blue-100: var(--color-blue-100);
  --color-blue-200: var(--color-blue-200);
  --color-blue-300: var(--color-blue-300);
  --color-blue-400: var(--color-blue-400);
  --color-blue-500: var(--color-blue-500);
  --color-blue-600: var(--color-blue-600);
  --color-blue-700: var(--color-blue-700);
  --color-blue-800: var(--color-blue-800);
  --color-blue-900: var(--color-blue-900);
  --color-blue-950: var(--color-blue-950);
}

:root {
  --color-blue-25: oklch(0.9930984190782393 0.0034049843333749798 247.85736241017523);
  --color-blue-50: oklch(0.9820183358295107 0.009238180527092698 242.8346985214995);
  --color-blue-100: oklch(0.9596768290138277 0.02006100737850169 238.6626432339594);
  --color-blue-200: oklch(0.9380669580012171 0.034959603625584895 234.80169664841554);
  --color-blue-300: oklch(0.9050749116222915 0.0512961622759032 240.3114177919049);
  --color-blue-400: oklch(0.8632663494186753 0.06820339226845772 243.31581953568468);
  --color-blue-500: oklch(0.8097604920324861 0.08867402825877806 243.05422592118222);
  --color-blue-600: oklch(0.733610119215165 0.12136452603066201 243.08938622324592);
  --color-blue-700: oklch(0.6492939891713041 0.19304008980583812 251.77988723075362);
  --color-blue-800: oklch(0.6222994752859422 0.18311980749829765 251.7037909326084);
  --color-blue-900: oklch(0.5557500913572343 0.16221959280226622 252.19470611629907);
  --color-blue-950: oklch(0.32396334003232663 0.09638170265891938 258.81619990913237);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-blue-25: oklch(0.1936070279297195 0.02549655789639892 256.49191188520706);
    --color-blue-50: oklch(0.21292659788726812 0.03033650082084314 261.25201047927465);
    --color-blue-100: oklch(0.2744698831852207 0.0662886586564977 253.9315073348213);
    --color-blue-200: oklch(0.32013790276118737 0.09677641827269545 252.34671619606496);
    --color-blue-300: oklch(0.3670961770754216 0.10588254227733479 250.7011849312796);
    --color-blue-400: oklch(0.41602763683555055 0.11325662282557453 252.00621940585464);
    --color-blue-500: oklch(0.47410641230504363 0.12186873073733522 253.08758216841832);
    --color-blue-600: oklch(0.5405667979459539 0.13953784671737107 253.1746368852062);
    --color-blue-700: oklch(0.6492939891713041 0.19304008980583812 251.77988723075362);
    --color-blue-800: oklch(0.6883830887587808 0.16932526056453565 251.40403261893255);
    --color-blue-900: oklch(0.7642204837998656 0.12574737576189024 249.46439612957434);
    --color-blue-950: oklch(0.9071247503103806 0.05103558120149215 238.44825328761186);
  }
}

.dark {
  --color-blue-25: oklch(0.1936070279297195 0.02549655789639892 256.49191188520706);
  --color-blue-50: oklch(0.21292659788726812 0.03033650082084314 261.25201047927465);
  --color-blue-100: oklch(0.2744698831852207 0.0662886586564977 253.9315073348213);
  --color-blue-200: oklch(0.32013790276118737 0.09677641827269545 252.34671619606496);
  --color-blue-300: oklch(0.3670961770754216 0.10588254227733479 250.7011849312796);
  --color-blue-400: oklch(0.41602763683555055 0.11325662282557453 252.00621940585464);
  --color-blue-500: oklch(0.47410641230504363 0.12186873073733522 253.08758216841832);
  --color-blue-600: oklch(0.5405667979459539 0.13953784671737107 253.1746368852062);
  --color-blue-700: oklch(0.6492939891713041 0.19304008980583812 251.77988723075362);
  --color-blue-800: oklch(0.6883830887587808 0.16932526056453565 251.40403261893255);
  --color-blue-900: oklch(0.7642204837998656 0.12574737576189024 249.46439612957434);
  --color-blue-950: oklch(0.9071247503103806 0.05103558120149215 238.44825328761186);
}
