@theme {
  --color-bronze-25: var(--color-bronze-25);
  --color-bronze-50: var(--color-bronze-50);
  --color-bronze-100: var(--color-bronze-100);
  --color-bronze-200: var(--color-bronze-200);
  --color-bronze-300: var(--color-bronze-300);
  --color-bronze-400: var(--color-bronze-400);
  --color-bronze-500: var(--color-bronze-500);
  --color-bronze-600: var(--color-bronze-600);
  --color-bronze-700: var(--color-bronze-700);
  --color-bronze-800: var(--color-bronze-800);
  --color-bronze-900: var(--color-bronze-900);
  --color-bronze-950: var(--color-bronze-950);
}

:root {
  --color-bronze-25: oklch(0.99182895722155 0.0010629261053122663 17.17593940976065);
  --color-bronze-50: oklch(0.980206149125599 0.006978977659432119 39.46191998622114);
  --color-bronze-100: oklch(0.9523022301789544 0.01056969780274777 39.438627944677094);
  --color-bronze-200: oklch(0.9261798676419855 0.013816107060220822 46.22480991621171);
  --color-bronze-300: oklch(0.8948889471439274 0.01753982374223722 44.789969632451495);
  --color-bronze-400: oklch(0.8608710729061122 0.023022435216924524 45.575765526068786);
  --color-bronze-500: oklch(0.8121692098443554 0.029212242307360973 42.62266967133957);
  --color-bronze-600: oklch(0.7422756643439372 0.038807024020000115 41.16674197934164);
  --color-bronze-700: oklch(0.6274279516741569 0.045952950080917224 44.162033057745845);
  --color-bronze-800: oklch(0.5878364717481855 0.04558577908046961 40.91040763397431);
  --color-bronze-900: oklch(0.510854137479785 0.043768189253275296 38.62803714909283);
  --color-bronze-950: oklch(0.3294935008347723 0.029366952923422982 35.24209354252378);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bronze-25: oklch(0.18088881060781353 0.005392082128599781 39.34959152480947);
    --color-bronze-50: oklch(0.21611539898431287 0.006125550660670079 56.04333221089388);
    --color-bronze-100: oklch(0.2556646595238946 0.007134419608636617 48.42688923077238);
    --color-bronze-200: oklch(0.2904842947748502 0.010392197533643842 48.343419526805214);
    --color-bronze-300: oklch(0.3285686041670393 0.012661443123221408 41.69860494639527);
    --color-bronze-400: oklch(0.37398177210193695 0.016817986101613405 41.0281230211672);
    --color-bronze-500: oklch(0.42909837845470633 0.020651763422338026 40.64861404912674);
    --color-bronze-600: oklch(0.4988715648417082 0.0235548054109188 45.037781783587256);
    --color-bronze-700: oklch(0.6274279516741569 0.045952950080917224 44.162033057745845);
    --color-bronze-800: oklch(0.6679568785260739 0.046306147132808596 43.531809711084215);
    --color-bronze-900: oklch(0.7918188592790669 0.043119052801513826 44.285574929397875);
    --color-bronze-950: oklch(0.9151277007399435 0.017159341595613716 50.42207602004355);
  }
}

.dark {
  --color-bronze-25: oklch(0.18088881060781353 0.005392082128599781 39.34959152480947);
  --color-bronze-50: oklch(0.21611539898431287 0.006125550660670079 56.04333221089388);
  --color-bronze-100: oklch(0.2556646595238946 0.007134419608636617 48.42688923077238);
  --color-bronze-200: oklch(0.2904842947748502 0.010392197533643842 48.343419526805214);
  --color-bronze-300: oklch(0.3285686041670393 0.012661443123221408 41.69860494639527);
  --color-bronze-400: oklch(0.37398177210193695 0.016817986101613405 41.0281230211672);
  --color-bronze-500: oklch(0.42909837845470633 0.020651763422338026 40.64861404912674);
  --color-bronze-600: oklch(0.4988715648417082 0.0235548054109188 45.037781783587256);
  --color-bronze-700: oklch(0.6274279516741569 0.045952950080917224 44.162033057745845);
  --color-bronze-800: oklch(0.6679568785260739 0.046306147132808596 43.531809711084215);
  --color-bronze-900: oklch(0.7918188592790669 0.043119052801513826 44.285574929397875);
  --color-bronze-950: oklch(0.9151277007399435 0.017159341595613716 50.42207602004355);
}
