@theme {
  --color-brown-25: var(--color-brown-25);
  --color-brown-50: var(--color-brown-50);
  --color-brown-100: var(--color-brown-100);
  --color-brown-200: var(--color-brown-200);
  --color-brown-300: var(--color-brown-300);
  --color-brown-400: var(--color-brown-400);
  --color-brown-500: var(--color-brown-500);
  --color-brown-600: var(--color-brown-600);
  --color-brown-700: var(--color-brown-700);
  --color-brown-800: var(--color-brown-800);
  --color-brown-900: var(--color-brown-900);
  --color-brown-950: var(--color-brown-950);
}

:root {
  --color-brown-25: oklch(0.9945302586845555 0.0017016310234569234 67.80250593696256);
  --color-brown-50: oklch(0.9835830656949194 0.005118302769363591 67.76455263802595);
  --color-brown-100: oklch(0.9534331798968513 0.012751560461161498 63.91923023466538);
  --color-brown-200: oklch(0.9253882201870859 0.019758972629813028 65.13298378032);
  --color-brown-300: oklch(0.89782029759917 0.028598183226588587 65.74193618667347);
  --color-brown-400: oklch(0.8616207144026612 0.03937734938864863 66.00756763199588);
  --color-brown-500: oklch(0.8154475748331937 0.05378563876683192 64.15198570222707);
  --color-brown-600: oklch(0.7459134315307182 0.07156229843423347 62.09856438571666);
  --color-brown-700: oklch(0.6328519447848828 0.0784870087927903 60.98419484453194);
  --color-brown-800: oklch(0.5974009147648522 0.07240155693635732 59.135398387684475);
  --color-brown-900: oklch(0.5122011644279377 0.05822288431376638 55.45310041423755);
  --color-brown-950: oklch(0.3313634463646662 0.01812682027124873 45.864752255374334);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-brown-25: oklch(0.17801009612090132 0.0043468668500771706 84.59240604997863);
    --color-brown-50: oklch(0.21296952409428965 0.007485688638802071 48.34996658047507);
    --color-brown-100: oklch(0.25437542214106046 0.013064087891572845 51.580333839190295);
    --color-brown-200: oklch(0.2886941051270081 0.01824642025711107 59.851091867684175);
    --color-brown-300: oklch(0.3247457146782799 0.02440213143507317 56.4074591176326);
    --color-brown-400: oklch(0.37076272442236413 0.03206859876503917 58.96989797184751);
    --color-brown-500: oklch(0.42875306302926985 0.04121737626704298 57.84093953736525);
    --color-brown-600: oklch(0.5085152985793133 0.05302713404161943 61.962083288257276);
    --color-brown-700: oklch(0.6328519447848828 0.0784870087927903 60.98419484453194);
    --color-brown-800: oklch(0.6733437595752233 0.07403977173772118 61.127344137065215);
    --color-brown-900: oklch(0.7984096375394331 0.06270849258973364 62.71156085800665);
    --color-brown-950: oklch(0.9173814044046559 0.0358078363215417 75.53932560507734);
  }
}

.dark {
  --color-brown-25: oklch(0.17801009612090132 0.0043468668500771706 84.59240604997863);
  --color-brown-50: oklch(0.21296952409428965 0.007485688638802071 48.34996658047507);
  --color-brown-100: oklch(0.25437542214106046 0.013064087891572845 51.580333839190295);
  --color-brown-200: oklch(0.2886941051270081 0.01824642025711107 59.851091867684175);
  --color-brown-300: oklch(0.3247457146782799 0.02440213143507317 56.4074591176326);
  --color-brown-400: oklch(0.37076272442236413 0.03206859876503917 58.96989797184751);
  --color-brown-500: oklch(0.42875306302926985 0.04121737626704298 57.84093953736525);
  --color-brown-600: oklch(0.5085152985793133 0.05302713404161943 61.962083288257276);
  --color-brown-700: oklch(0.6328519447848828 0.0784870087927903 60.98419484453194);
  --color-brown-800: oklch(0.6733437595752233 0.07403977173772118 61.127344137065215);
  --color-brown-900: oklch(0.7984096375394331 0.06270849258973364 62.71156085800665);
  --color-brown-950: oklch(0.9173814044046559 0.0358078363215417 75.53932560507734);
}
