@theme {
  --color-crimson-25: var(--color-crimson-25);
  --color-crimson-50: var(--color-crimson-50);
  --color-crimson-100: var(--color-crimson-100);
  --color-crimson-200: var(--color-crimson-200);
  --color-crimson-300: var(--color-crimson-300);
  --color-crimson-400: var(--color-crimson-400);
  --color-crimson-500: var(--color-crimson-500);
  --color-crimson-600: var(--color-crimson-600);
  --color-crimson-700: var(--color-crimson-700);
  --color-crimson-800: var(--color-crimson-800);
  --color-crimson-900: var(--color-crimson-900);
  --color-crimson-950: var(--color-crimson-950);
}

:root {
  --color-crimson-25: oklch(0.9936352769168615 0.003435753917444056 354.68754535565);
  --color-crimson-50: oklch(0.9820937366243627 0.007908147346034806 357.7933417373279);
  --color-crimson-100: oklch(0.9536119998840094 0.025569860798371907 356.28321575443874);
  --color-crimson-200: oklch(0.9257680956463872 0.04014199051015512 356.40860007449);
  --color-crimson-300: oklch(0.8933879922887001 0.05301526184298757 355.7742474229364);
  --color-crimson-400: oklch(0.854098216122175 0.06527461547433476 355.16202332600176);
  --color-crimson-500: oklch(0.8086905136427822 0.07803217301771691 354.93983852195873);
  --color-crimson-600: oklch(0.7493358049899634 0.10019585672924967 354.0212241839094);
  --color-crimson-700: oklch(0.6340531912051186 0.21296122286490748 1.2761877562960315);
  --color-crimson-800: oklch(0.6074531909221406 0.2105833853818131 2.2268825058120023);
  --color-crimson-900: oklch(0.5521799477316645 0.20728977666237386 4.488149095140839);
  --color-crimson-950: oklch(0.34090650146775303 0.11293195607805988 356.9396367746107);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-crimson-25: oklch(0.18925553268329348 0.01445248932415112 354.16628492904493);
    --color-crimson-50: oklch(0.20617313457916742 0.023181406299692196 354.5389404660406);
    --color-crimson-100: oklch(0.25501559145804276 0.05976863231040874 353.5077564583168);
    --color-crimson-200: oklch(0.29318262010053986 0.09346711340100358 354.28758369570164);
    --color-crimson-300: oklch(0.33204043580260717 0.10454786326562235 354.5273910317625);
    --color-crimson-400: oklch(0.38264989196652793 0.1078974234069775 355.86995502561405);
    --color-crimson-500: oklch(0.45006209065984726 0.12067321752473134 357.1407171786836);
    --color-crimson-600: oklch(0.5431062115348999 0.14792664127138402 358.72472774352104);
    --color-crimson-700: oklch(0.6340531912051186 0.21296122286490748 1.2761877562960315);
    --color-crimson-800: oklch(0.6631266456426888 0.19737445122063185 1.8470495759421106);
    --color-crimson-900: oklch(0.7824772627349578 0.13381271721346036 4.738921695705183);
    --color-crimson-950: oklch(0.9085328476516185 0.05407411113562684 346.63352913686373);
  }
}

.dark {
  --color-crimson-25: oklch(0.18925553268329348 0.01445248932415112 354.16628492904493);
  --color-crimson-50: oklch(0.20617313457916742 0.023181406299692196 354.5389404660406);
  --color-crimson-100: oklch(0.25501559145804276 0.05976863231040874 353.5077564583168);
  --color-crimson-200: oklch(0.29318262010053986 0.09346711340100358 354.28758369570164);
  --color-crimson-300: oklch(0.33204043580260717 0.10454786326562235 354.5273910317625);
  --color-crimson-400: oklch(0.38264989196652793 0.1078974234069775 355.86995502561405);
  --color-crimson-500: oklch(0.45006209065984726 0.12067321752473134 357.1407171786836);
  --color-crimson-600: oklch(0.5431062115348999 0.14792664127138402 358.72472774352104);
  --color-crimson-700: oklch(0.6340531912051186 0.21296122286490748 1.2761877562960315);
  --color-crimson-800: oklch(0.6631266456426888 0.19737445122063185 1.8470495759421106);
  --color-crimson-900: oklch(0.7824772627349578 0.13381271721346036 4.738921695705183);
  --color-crimson-950: oklch(0.9085328476516185 0.05407411113562684 346.63352913686373);
}
