@theme {
  --color-cyan-25: var(--color-cyan-25);
  --color-cyan-50: var(--color-cyan-50);
  --color-cyan-100: var(--color-cyan-100);
  --color-cyan-200: var(--color-cyan-200);
  --color-cyan-300: var(--color-cyan-300);
  --color-cyan-400: var(--color-cyan-400);
  --color-cyan-500: var(--color-cyan-500);
  --color-cyan-600: var(--color-cyan-600);
  --color-cyan-700: var(--color-cyan-700);
  --color-cyan-800: var(--color-cyan-800);
  --color-cyan-900: var(--color-cyan-900);
  --color-cyan-950: var(--color-cyan-950);
}

:root {
  --color-cyan-25: oklch(0.9920662553525976 0.0034554595171486405 219.53251668707736);
  --color-cyan-50: oklch(0.9793961705960799 0.008577865479084646 205.89614998993457);
  --color-cyan-100: oklch(0.9585707250473005 0.026263907939702978 202.56185995785995);
  --color-cyan-200: oklch(0.9320656815696061 0.040873558265355374 205.98120400992573);
  --color-cyan-300: oklch(0.9003760873764513 0.053942748564201996 206.44666365190744);
  --color-cyan-400: oklch(0.8578707992877863 0.06594394574745588 208.13515165346232);
  --color-cyan-500: oklch(0.8044866098967272 0.0816180621393145 209.69940999950683);
  --color-cyan-600: oklch(0.7275670685995852 0.11023107733614476 211.93253136340465);
  --color-cyan-700: oklch(0.6600422627262236 0.1217158774895806 221.7438129120767);
  --color-cyan-800: oklch(0.6269913221408213 0.11431443961693147 221.5039666252608);
  --color-cyan-900: oklch(0.5469655383964155 0.0966416573377845 220.7521868556045);
  --color-cyan-950: oklch(0.3314303183114835 0.052686788424113846 218.82808173839135);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-cyan-25: oklch(0.191653335407438 0.01784716101281886 222.83461996192077);
    --color-cyan-50: oklch(0.21403335966366968 0.018585547774545057 227.94800012461644);
    --color-cyan-100: oklch(0.2732950349571371 0.04344495205567002 220.38373729680603);
    --color-cyan-200: oklch(0.3164364671699825 0.05928056393494778 223.703615905722);
    --color-cyan-300: oklch(0.36263543587505753 0.06795689084562259 223.7410507794338);
    --color-cyan-400: oklch(0.41353565499914247 0.07467874389903151 221.4993059760002);
    --color-cyan-500: oklch(0.4776909893997089 0.0826676314076005 221.64324494708785);
    --color-cyan-600: oklch(0.5566252087896536 0.09851271219364507 221.11227826598687);
    --color-cyan-700: oklch(0.6600422627262236 0.1217158774895806 221.7438129120767);
    --color-cyan-800: oklch(0.6988165039519316 0.11946782372528217 218.860997060807);
    --color-cyan-900: oklch(0.785373024062362 0.11582170251121891 213.80220710717913);
    --color-cyan-950: oklch(0.909539767172551 0.05690547624321401 211.4984164088312);
  }
}

.dark {
  --color-cyan-25: oklch(0.191653335407438 0.01784716101281886 222.83461996192077);
  --color-cyan-50: oklch(0.21403335966366968 0.018585547774545057 227.94800012461644);
  --color-cyan-100: oklch(0.2732950349571371 0.04344495205567002 220.38373729680603);
  --color-cyan-200: oklch(0.3164364671699825 0.05928056393494778 223.703615905722);
  --color-cyan-300: oklch(0.36263543587505753 0.06795689084562259 223.7410507794338);
  --color-cyan-400: oklch(0.41353565499914247 0.07467874389903151 221.4993059760002);
  --color-cyan-500: oklch(0.4776909893997089 0.0826676314076005 221.64324494708785);
  --color-cyan-600: oklch(0.5566252087896536 0.09851271219364507 221.11227826598687);
  --color-cyan-700: oklch(0.6600422627262236 0.1217158774895806 221.7438129120767);
  --color-cyan-800: oklch(0.6988165039519316 0.11946782372528217 218.860997060807);
  --color-cyan-900: oklch(0.785373024062362 0.11582170251121891 213.80220710717913);
  --color-cyan-950: oklch(0.909539767172551 0.05690547624321401 211.4984164088312);
}
