@theme {
  --color-gold-25: var(--color-gold-25);
  --color-gold-50: var(--color-gold-50);
  --color-gold-100: var(--color-gold-100);
  --color-gold-200: var(--color-gold-200);
  --color-gold-300: var(--color-gold-300);
  --color-gold-400: var(--color-gold-400);
  --color-gold-500: var(--color-gold-500);
  --color-gold-600: var(--color-gold-600);
  --color-gold-700: var(--color-gold-700);
  --color-gold-800: var(--color-gold-800);
  --color-gold-900: var(--color-gold-900);
  --color-gold-950: var(--color-gold-950);
}

:root {
  --color-gold-25: oklch(0.9937703823521533 0.0013160420923955406 106.42352917710224);
  --color-gold-50: oklch(0.980960094511534 0.009290803943861801 99.98150291435138);
  --color-gold-100: oklch(0.9542102045093762 0.01213260035427459 96.42473909359921);
  --color-gold-200: oklch(0.9250404365733343 0.015326119523206021 90.24033622224775);
  --color-gold-300: oklch(0.8948650238906519 0.018324181724390393 89.36699683638192);
  --color-gold-400: oklch(0.8593960547271156 0.024671243928157397 85.79260652761866);
  --color-gold-500: oklch(0.8109072818951505 0.032506506586621076 84.58425324951011);
  --color-gold-600: oklch(0.7390244925356462 0.042274185623818177 79.36441091974831);
  --color-gold-700: oklch(0.620439738981867 0.049157152957214095 77.69854653226858);
  --color-gold-800: oklch(0.5887160062345138 0.046086687943045365 78.61980102803501);
  --color-gold-900: oklch(0.5042331917789438 0.039491874503663295 78.26223179225795);
  --color-gold-950: oklch(0.33200687427648884 0.018925195689230654 80.50893925463762);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gold-25: oklch(0.18178654405772054 0.002006513292268515 106.59753396272315);
    --color-gold-50: oklch(0.21775571758446335 0.0059336422704154125 91.62490802572069);
    --color-gold-100: oklch(0.2557565708989063 0.007474098219564492 95.35403005122024);
    --color-gold-200: oklch(0.2894123049896571 0.009332444884961518 88.76239239011136);
    --color-gold-300: oklch(0.32967228822667793 0.012702127692053528 87.56087236735864);
    --color-gold-400: oklch(0.3731618420868696 0.012875605580830243 81.7476548598439);
    --color-gold-500: oklch(0.42956163619739046 0.015882942341318096 82.36118094955128);
    --color-gold-600: oklch(0.4990374690743289 0.020548082453739548 81.25731753077787);
    --color-gold-700: oklch(0.620439738981867 0.049157152957214095 77.69854653226858);
    --color-gold-800: oklch(0.6626794671061805 0.04677231857596443 78.2507891628646);
    --color-gold-900: oklch(0.7940482409433125 0.041028481924418665 77.0825716462109);
    --color-gold-950: oklch(0.9150167570068556 0.013755648850245127 78.25927359903788);
  }
}

.dark {
  --color-gold-25: oklch(0.18178654405772054 0.002006513292268515 106.59753396272315);
  --color-gold-50: oklch(0.21775571758446335 0.0059336422704154125 91.62490802572069);
  --color-gold-100: oklch(0.2557565708989063 0.007474098219564492 95.35403005122024);
  --color-gold-200: oklch(0.2894123049896571 0.009332444884961518 88.76239239011136);
  --color-gold-300: oklch(0.32967228822667793 0.012702127692053528 87.56087236735864);
  --color-gold-400: oklch(0.3731618420868696 0.012875605580830243 81.7476548598439);
  --color-gold-500: oklch(0.42956163619739046 0.015882942341318096 82.36118094955128);
  --color-gold-600: oklch(0.4990374690743289 0.020548082453739548 81.25731753077787);
  --color-gold-700: oklch(0.620439738981867 0.049157152957214095 77.69854653226858);
  --color-gold-800: oklch(0.6626794671061805 0.04677231857596443 78.2507891628646);
  --color-gold-900: oklch(0.7940482409433125 0.041028481924418665 77.0825716462109);
  --color-gold-950: oklch(0.9150167570068556 0.013755648850245127 78.25927359903788);
}
