@theme {
  --color-grass-25: var(--color-grass-25);
  --color-grass-50: var(--color-grass-50);
  --color-grass-100: var(--color-grass-100);
  --color-grass-200: var(--color-grass-200);
  --color-grass-300: var(--color-grass-300);
  --color-grass-400: var(--color-grass-400);
  --color-grass-500: var(--color-grass-500);
  --color-grass-600: var(--color-grass-600);
  --color-grass-700: var(--color-grass-700);
  --color-grass-800: var(--color-grass-800);
  --color-grass-900: var(--color-grass-900);
  --color-grass-950: var(--color-grass-950);
}

:root {
  --color-grass-25: oklch(0.9939323068977064 0.005038825662586035 145.53785404806607);
  --color-grass-50: oklch(0.9819176733941398 0.010104795720548428 145.4981661073868);
  --color-grass-100: oklch(0.9598854078481872 0.021994917989838898 145.4013287297286);
  --color-grass-200: oklch(0.9352768238714705 0.03805099854281847 146.46615924040114);
  --color-grass-300: oklch(0.900378958839609 0.051998417502299075 145.9934397183946);
  --color-grass-400: oklch(0.8562591929780211 0.07095570379625761 146.77065580768684);
  --color-grass-500: oklch(0.7977830611197568 0.09431361941105683 147.26250747170897);
  --color-grass-600: oklch(0.7173588069876067 0.13081337321754344 148.13962013213305);
  --color-grass-700: oklch(0.6512363590723597 0.14678472752123142 147.3917833803914);
  --color-grass-800: oklch(0.6152334401619893 0.14223408744300586 147.18622628413843);
  --color-grass-900: oklch(0.5262324261937286 0.1294069996798071 147.1971367698229);
  --color-grass-950: oklch(0.3265852360938723 0.05301987846461721 148.59385930681233);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-grass-25: oklch(0.18689918915168904 0.013391995396639796 159.72941554098236);
    --color-grass-50: oklch(0.20965090189072727 0.013286022775193293 149.91679187949507);
    --color-grass-100: oklch(0.2672557444364943 0.03011559176598948 150.15507044441497);
    --color-grass-200: oklch(0.3185556854771906 0.052708685827908594 150.2999397758132);
    --color-grass-300: oklch(0.36681575670628763 0.06186659071943188 149.85311772077972);
    --color-grass-400: oklch(0.41636788751325327 0.0724371454849045 149.32884813323045);
    --color-grass-500: oklch(0.4679845929119324 0.08256130646988799 148.99473673550511);
    --color-grass-600: oklch(0.5228996125691141 0.09731510162376908 148.31745697245844);
    --color-grass-700: oklch(0.6512363590723597 0.14678472752123142 147.3917833803914);
    --color-grass-800: oklch(0.6893581846702928 0.14496832126813416 147.80077711774578);
    --color-grass-900: oklch(0.7796560365139361 0.14188243021379834 148.48465320255292);
    --color-grass-950: oklch(0.9108595568539422 0.07805433533233713 144.90047544635948);
  }
}

.dark {
  --color-grass-25: oklch(0.18689918915168904 0.013391995396639796 159.72941554098236);
  --color-grass-50: oklch(0.20965090189072727 0.013286022775193293 149.91679187949507);
  --color-grass-100: oklch(0.2672557444364943 0.03011559176598948 150.15507044441497);
  --color-grass-200: oklch(0.3185556854771906 0.052708685827908594 150.2999397758132);
  --color-grass-300: oklch(0.36681575670628763 0.06186659071943188 149.85311772077972);
  --color-grass-400: oklch(0.41636788751325327 0.0724371454849045 149.32884813323045);
  --color-grass-500: oklch(0.4679845929119324 0.08256130646988799 148.99473673550511);
  --color-grass-600: oklch(0.5228996125691141 0.09731510162376908 148.31745697245844);
  --color-grass-700: oklch(0.6512363590723597 0.14678472752123142 147.3917833803914);
  --color-grass-800: oklch(0.6893581846702928 0.14496832126813416 147.80077711774578);
  --color-grass-900: oklch(0.7796560365139361 0.14188243021379834 148.48465320255292);
  --color-grass-950: oklch(0.9108595568539422 0.07805433533233713 144.90047544635948);
}
