@theme {
  --color-green-25: var(--color-green-25);
  --color-green-50: var(--color-green-50);
  --color-green-100: var(--color-green-100);
  --color-green-200: var(--color-green-200);
  --color-green-300: var(--color-green-300);
  --color-green-400: var(--color-green-400);
  --color-green-500: var(--color-green-500);
  --color-green-600: var(--color-green-600);
  --color-green-700: var(--color-green-700);
  --color-green-800: var(--color-green-800);
  --color-green-900: var(--color-green-900);
  --color-green-950: var(--color-green-950);
}

:root {
  --color-green-25: oklch(0.9942084371167772 0.004101419904178148 157.18115241854773);
  --color-green-50: oklch(0.9814482287164932 0.009875697813765821 155.100734587479);
  --color-green-100: oklch(0.9582472759077888 0.022273767587429574 155.92503344218656);
  --color-green-200: oklch(0.9335325521391997 0.03718314901583093 156.42916500007038);
  --color-green-300: oklch(0.8988006797577687 0.04894152561211374 157.24856436088845);
  --color-green-400: oklch(0.8558209326315307 0.0640551648238654 158.20428422264095);
  --color-green-500: oklch(0.7981521738042707 0.0831645913191352 159.14948558845174);
  --color-green-600: oklch(0.7155861596060153 0.11330640993306258 160.2754162252232);
  --color-green-700: oklch(0.6405974896944662 0.13287542453032578 157.6795339418218);
  --color-green-800: oklch(0.611471567162428 0.12663853615102105 158.2284235638926);
  --color-green-900: oklch(0.5434642728937475 0.11159671674174795 159.49730549085808);
  --color-green-950: oklch(0.3219842841396231 0.04750204476230729 164.5340330489758);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-green-25: oklch(0.1872915606366927 0.012269449730490975 167.00871315111763);
    --color-green-50: oklch(0.21165663280861044 0.01537452182974883 165.91454574887587);
    --color-green-100: oklch(0.2721436097208423 0.03957561392006879 162.17055697050836);
    --color-green-200: oklch(0.3172719921089903 0.05693419582213001 161.8447032374668);
    --color-green-300: oklch(0.36492790743921083 0.06603359732129725 161.2285237608269);
    --color-green-400: oklch(0.4124487487311898 0.07214638832764679 160.94807359990375);
    --color-green-500: oklch(0.4669814549837858 0.08232305419967632 160.24189302136986);
    --color-green-600: oklch(0.5280329525558962 0.09628022269746786 159.3904607380628);
    --color-green-700: oklch(0.6405974896944662 0.13287542453032578 157.6795339418218);
    --color-green-800: oklch(0.6745870809526345 0.1406276833553888 157.70383393118507);
    --color-green-900: oklch(0.77943043974701 0.16548017894614564 157.28650307141297);
    --color-green-950: oklch(0.9048403813740985 0.082956417371095 158.18101774043575);
  }
}

.dark {
  --color-green-25: oklch(0.1872915606366927 0.012269449730490975 167.00871315111763);
  --color-green-50: oklch(0.21165663280861044 0.01537452182974883 165.91454574887587);
  --color-green-100: oklch(0.2721436097208423 0.03957561392006879 162.17055697050836);
  --color-green-200: oklch(0.3172719921089903 0.05693419582213001 161.8447032374668);
  --color-green-300: oklch(0.36492790743921083 0.06603359732129725 161.2285237608269);
  --color-green-400: oklch(0.4124487487311898 0.07214638832764679 160.94807359990375);
  --color-green-500: oklch(0.4669814549837858 0.08232305419967632 160.24189302136986);
  --color-green-600: oklch(0.5280329525558962 0.09628022269746786 159.3904607380628);
  --color-green-700: oklch(0.6405974896944662 0.13287542453032578 157.6795339418218);
  --color-green-800: oklch(0.6745870809526345 0.1406276833553888 157.70383393118507);
  --color-green-900: oklch(0.77943043974701 0.16548017894614564 157.28650307141297);
  --color-green-950: oklch(0.9048403813740985 0.082956417371095 158.18101774043575);
}
