@theme {
  --color-indigo-25: var(--color-indigo-25);
  --color-indigo-50: var(--color-indigo-50);
  --color-indigo-100: var(--color-indigo-100);
  --color-indigo-200: var(--color-indigo-200);
  --color-indigo-300: var(--color-indigo-300);
  --color-indigo-400: var(--color-indigo-400);
  --color-indigo-500: var(--color-indigo-500);
  --color-indigo-600: var(--color-indigo-600);
  --color-indigo-700: var(--color-indigo-700);
  --color-indigo-800: var(--color-indigo-800);
  --color-indigo-900: var(--color-indigo-900);
  --color-indigo-950: var(--color-indigo-950);
}

:root {
  --color-indigo-25: oklch(0.9943272584181484 0.001316819468925067 286.3756409048369);
  --color-indigo-50: oklch(0.9823070052085769 0.008252495789181781 271.3302154312519);
  --color-indigo-100: oklch(0.9608590555503868 0.016960622585210992 267.7912624545927);
  --color-indigo-200: oklch(0.9346114215018886 0.031039156695351695 269.81867124794127);
  --color-indigo-300: oklch(0.901944349294943 0.047147793848739364 269.61569193704173);
  --color-indigo-400: oklch(0.8619549914647316 0.06752710014857384 271.0877275375154);
  --color-indigo-500: oklch(0.8061550712002221 0.08753800013836648 271.4134665994676);
  --color-indigo-600: oklch(0.7308525240178193 0.11233296243895294 270.4290265318756);
  --color-indigo-700: oklch(0.5437501345186921 0.19101547856662673 267.0053855348301);
  --color-indigo-800: oklch(0.5106461155017719 0.19537378502323408 266.57791379310527);
  --color-indigo-900: oklch(0.5092144043389489 0.17249977237830166 267.1656385230242);
  --color-indigo-950: oklch(0.3126369828673238 0.0858210769234776 268.596400981394);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-indigo-25: oklch(0.19086497612018405 0.024568029771269786 276.52667008611036);
    --color-indigo-50: oklch(0.2093675771374216 0.030150536784077538 274.8373079498625);
    --color-indigo-100: oklch(0.27156722556153234 0.07050632898944016 267.97983340662853);
    --color-indigo-200: oklch(0.3184535271902934 0.09462981622145829 267.2480220216005);
    --color-indigo-300: oklch(0.3624675208270943 0.10437340063171481 267.025528900155);
    --color-indigo-400: oklch(0.40329754819556457 0.11122867581429045 268.7591308157967);
    --color-indigo-500: oklch(0.4490662470355627 0.12009583745989635 268.9392524961763);
    --color-indigo-600: oklch(0.5020829475318538 0.1366061579181455 268.2520306032359);
    --color-indigo-700: oklch(0.5437501345186921 0.19101547856662673 267.0053855348301);
    --color-indigo-800: oklch(0.5891492562944081 0.175765036167325 269.2961648073301);
    --color-indigo-900: oklch(0.7758734846407291 0.1137960542689867 273.01910290950985);
    --color-indigo-950: oklch(0.9107823474560504 0.042746109136455816 269.5516142600503);
  }
}

.dark {
  --color-indigo-25: oklch(0.19086497612018405 0.024568029771269786 276.52667008611036);
  --color-indigo-50: oklch(0.2093675771374216 0.030150536784077538 274.8373079498625);
  --color-indigo-100: oklch(0.27156722556153234 0.07050632898944016 267.97983340662853);
  --color-indigo-200: oklch(0.3184535271902934 0.09462981622145829 267.2480220216005);
  --color-indigo-300: oklch(0.3624675208270943 0.10437340063171481 267.025528900155);
  --color-indigo-400: oklch(0.40329754819556457 0.11122867581429045 268.7591308157967);
  --color-indigo-500: oklch(0.4490662470355627 0.12009583745989635 268.9392524961763);
  --color-indigo-600: oklch(0.5020829475318538 0.1366061579181455 268.2520306032359);
  --color-indigo-700: oklch(0.5437501345186921 0.19101547856662673 267.0053855348301);
  --color-indigo-800: oklch(0.5891492562944081 0.175765036167325 269.2961648073301);
  --color-indigo-900: oklch(0.7758734846407291 0.1137960542689867 273.01910290950985);
  --color-indigo-950: oklch(0.9107823474560504 0.042746109136455816 269.5516142600503);
}
