@theme {
  --color-iris-25: var(--color-iris-25);
  --color-iris-50: var(--color-iris-50);
  --color-iris-100: var(--color-iris-100);
  --color-iris-200: var(--color-iris-200);
  --color-iris-300: var(--color-iris-300);
  --color-iris-400: var(--color-iris-400);
  --color-iris-500: var(--color-iris-500);
  --color-iris-600: var(--color-iris-600);
  --color-iris-700: var(--color-iris-700);
  --color-iris-800: var(--color-iris-800);
  --color-iris-900: var(--color-iris-900);
  --color-iris-950: var(--color-iris-950);
}

:root {
  --color-iris-25: oklch(0.9946076694396422 0.002634391033570536 286.3516247393163);
  --color-iris-50: oklch(0.9811187640407829 0.009267943502271798 286.22759871491587);
  --color-iris-100: oklch(0.9611593178415019 0.017390734670515915 282.5441089355394);
  --color-iris-200: oklch(0.9344297657296688 0.03238039887029224 283.8521154210056);
  --color-iris-300: oklch(0.9039221952602435 0.04779401995798006 282.80729380683863);
  --color-iris-400: oklch(0.8633666553959591 0.06918335898185932 283.04795370302185);
  --color-iris-500: oklch(0.8092350367732908 0.08724111868506365 282.8261667685648);
  --color-iris-600: oklch(0.7292808083512383 0.11824558589832897 281.4366892151263);
  --color-iris-700: oklch(0.5403101249554436 0.1841241796971814 278.28457670112005);
  --color-iris-800: oklch(0.5087469211126207 0.1869067354098986 277.44650293847604);
  --color-iris-900: oklch(0.5111077443159017 0.17387715294798964 279.84311196971);
  --color-iris-950: oklch(0.31427519781112795 0.09884140785759829 277.5606092493209);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-iris-25: oklch(0.1923608052441205 0.02212742387175413 284.1273466629887);
    --color-iris-50: oklch(0.2091079189554976 0.02945457307598684 286.6062125160742);
    --color-iris-100: oklch(0.2721898510388531 0.0693539676059432 278.45715846275095);
    --color-iris-200: oklch(0.31809731185070134 0.10227093793598908 275.99367337555947);
    --color-iris-300: oklch(0.35682789368445195 0.10954951732652045 277.3068729743948);
    --color-iris-400: oklch(0.40035423843869333 0.11167084383369855 279.4507478583685);
    --color-iris-500: oklch(0.448478342681841 0.11985127229301501 280.4228424500241);
    --color-iris-600: oklch(0.5068471908741701 0.13766166705281777 280.8043382407868);
    --color-iris-700: oklch(0.5403101249554436 0.1841241796971814 278.28457670112005);
    --color-iris-800: oklch(0.5867976764768768 0.17173632444276687 281.25826655524844);
    --color-iris-900: oklch(0.7742944905566953 0.12152310723642476 287.46354462532975);
    --color-iris-950: oklch(0.9139822588790862 0.042042357591809715 287.01606363649535);
  }
}

.dark {
  --color-iris-25: oklch(0.1923608052441205 0.02212742387175413 284.1273466629887);
  --color-iris-50: oklch(0.2091079189554976 0.02945457307598684 286.6062125160742);
  --color-iris-100: oklch(0.2721898510388531 0.0693539676059432 278.45715846275095);
  --color-iris-200: oklch(0.31809731185070134 0.10227093793598908 275.99367337555947);
  --color-iris-300: oklch(0.35682789368445195 0.10954951732652045 277.3068729743948);
  --color-iris-400: oklch(0.40035423843869333 0.11167084383369855 279.4507478583685);
  --color-iris-500: oklch(0.448478342681841 0.11985127229301501 280.4228424500241);
  --color-iris-600: oklch(0.5068471908741701 0.13766166705281777 280.8043382407868);
  --color-iris-700: oklch(0.5403101249554436 0.1841241796971814 278.28457670112005);
  --color-iris-800: oklch(0.5867976764768768 0.17173632444276687 281.25826655524844);
  --color-iris-900: oklch(0.7742944905566953 0.12152310723642476 287.46354462532975);
  --color-iris-950: oklch(0.9139822588790862 0.042042357591809715 287.01606363649535);
}
