@theme {
  --color-jade-25: var(--color-jade-25);
  --color-jade-50: var(--color-jade-50);
  --color-jade-100: var(--color-jade-100);
  --color-jade-200: var(--color-jade-200);
  --color-jade-300: var(--color-jade-300);
  --color-jade-400: var(--color-jade-400);
  --color-jade-500: var(--color-jade-500);
  --color-jade-600: var(--color-jade-600);
  --color-jade-700: var(--color-jade-700);
  --color-jade-800: var(--color-jade-800);
  --color-jade-900: var(--color-jade-900);
  --color-jade-950: var(--color-jade-950);
}

:root {
  --color-jade-25: oklch(0.9944858815821792 0.0034229855808937597 174.48699978522095);
  --color-jade-50: oklch(0.9817238583663384 0.00905540969847839 161.35706335824142);
  --color-jade-100: oklch(0.9608032654646644 0.022243242635838077 160.23163530627016);
  --color-jade-200: oklch(0.9346090347329797 0.03394629543927535 163.22433156626488);
  --color-jade-300: oklch(0.9018575729041872 0.04658527437690421 165.0536387155032);
  --color-jade-400: oklch(0.8595081763859964 0.06011438718810558 166.24272121365541);
  --color-jade-500: oklch(0.7996802721118965 0.07631068937645479 169.8930194055849);
  --color-jade-600: oklch(0.7213896003495219 0.1026054983975128 173.1207753791539);
  --color-jade-700: oklch(0.6421502912525344 0.11502528696654488 170.73012275095897);
  --color-jade-800: oklch(0.6130397785395016 0.1096223277447152 170.8513195395719);
  --color-jade-900: oklch(0.5474506527094285 0.09829147803178954 170.04885687264556);
  --color-jade-950: oklch(0.32541346725293907 0.04059963169143956 170.07729887721422);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-jade-25: oklch(0.18639249548066447 0.013529370933895822 169.77614004257802);
    --color-jade-50: oklch(0.21514753550310883 0.016504973306210435 168.20064940656906);
    --color-jade-100: oklch(0.2735965449577065 0.04342096008945555 165.19309458091678);
    --color-jade-200: oklch(0.31623784269323335 0.057179392823199865 167.61540607810662);
    --color-jade-300: oklch(0.36116633632957496 0.06387380704568227 168.1693588009928);
    --color-jade-400: oklch(0.4127193056793572 0.06868341731547423 169.5714757513072);
    --color-jade-500: oklch(0.4683969459539888 0.07584464932378393 170.27077177370134);
    --color-jade-600: oklch(0.5365089060923957 0.0874767170827016 172.23126531236616);
    --color-jade-700: oklch(0.6421502912525344 0.11502528696654488 170.73012275095897);
    --color-jade-800: oklch(0.6777487263983154 0.1255603702961044 169.56526745526384);
    --color-jade-900: oklch(0.785238404551783 0.15591010874571676 167.1115979594317);
    --color-jade-950: oklch(0.9026790159821367 0.0775557969129942 166.87561744855515);
  }
}

.dark {
  --color-jade-25: oklch(0.18639249548066447 0.013529370933895822 169.77614004257802);
  --color-jade-50: oklch(0.21514753550310883 0.016504973306210435 168.20064940656906);
  --color-jade-100: oklch(0.2735965449577065 0.04342096008945555 165.19309458091678);
  --color-jade-200: oklch(0.31623784269323335 0.057179392823199865 167.61540607810662);
  --color-jade-300: oklch(0.36116633632957496 0.06387380704568227 168.1693588009928);
  --color-jade-400: oklch(0.4127193056793572 0.06868341731547423 169.5714757513072);
  --color-jade-500: oklch(0.4683969459539888 0.07584464932378393 170.27077177370134);
  --color-jade-600: oklch(0.5365089060923957 0.0874767170827016 172.23126531236616);
  --color-jade-700: oklch(0.6421502912525344 0.11502528696654488 170.73012275095897);
  --color-jade-800: oklch(0.6777487263983154 0.1255603702961044 169.56526745526384);
  --color-jade-900: oklch(0.785238404551783 0.15591010874571676 167.1115979594317);
  --color-jade-950: oklch(0.9026790159821367 0.0775557969129942 166.87561744855515);
}
