@theme {
  --color-lime-25: var(--color-lime-25);
  --color-lime-50: var(--color-lime-50);
  --color-lime-100: var(--color-lime-100);
  --color-lime-200: var(--color-lime-200);
  --color-lime-300: var(--color-lime-300);
  --color-lime-400: var(--color-lime-400);
  --color-lime-500: var(--color-lime-500);
  --color-lime-600: var(--color-lime-600);
  --color-lime-700: var(--color-lime-700);
  --color-lime-800: var(--color-lime-800);
  --color-lime-900: var(--color-lime-900);
  --color-lime-950: var(--color-lime-950);
}

:root {
  --color-lime-25: oklch(0.992460804677185 0.004075341112505342 121.5589195007022);
  --color-lime-50: oklch(0.9816630841265417 0.009444297894138181 119.57409421814786);
  --color-lime-100: oklch(0.9587783415152094 0.04280989146424524 118.61913840631954);
  --color-lime-200: oklch(0.9319085184851225 0.06832809012446622 120.20462590584862);
  --color-lime-300: oklch(0.897329712693649 0.08759167625977317 122.06260377389941);
  --color-lime-400: oklch(0.853150592039137 0.09914987870582066 123.28718243101386);
  --color-lime-500: oklch(0.7948150724591021 0.11160382904538077 125.42703118415344);
  --color-lime-600: oklch(0.7250431065646042 0.13507424544461635 128.22516560095602);
  --color-lime-700: oklch(0.8874179168483373 0.17473001133293342 126.08864160028848);
  --color-lime-800: oklch(0.8588009596202838 0.18786673102892149 126.74724755761332);
  --color-lime-900: oklch(0.5444000915939439 0.11139081461711008 128.60368395349855);
  --color-lime-950: oklch(0.35370387774982875 0.05728125529063531 120.9802490345689);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-lime-25: oklch(0.18187997030816214 0.014117861319059703 120.76429100219674);
    --color-lime-50: oklch(0.20899214198687352 0.020475910116295317 129.6249933852658);
    --color-lime-100: oklch(0.2656440085576424 0.03488762780589012 132.00626926664896);
    --color-lime-200: oklch(0.3164905292401308 0.04748805741857823 131.68191476619089);
    --color-lime-300: oklch(0.36263426591024595 0.05746910807645044 131.02785812390908);
    --color-lime-400: oklch(0.41026792175628324 0.06751862054466927 131.4549918190691);
    --color-lime-500: oklch(0.46333291275762134 0.07939841141014178 131.0782494481352);
    --color-lime-600: oklch(0.5240842850184976 0.09448228928210121 130.62988512517728);
    --color-lime-700: oklch(0.8874179168483373 0.17473001133293342 126.08864160028848);
    --color-lime-800: oklch(0.9416649894167463 0.17574571983201262 123.75823626092738);
    --color-lime-900: oklch(0.8682757671948432 0.15519745564653378 124.73586478573463);
    --color-lime-950: oklch(0.9464898000294832 0.08193311132213078 122.70472579474927);
  }
}

.dark {
  --color-lime-25: oklch(0.18187997030816214 0.014117861319059703 120.76429100219674);
  --color-lime-50: oklch(0.20899214198687352 0.020475910116295317 129.6249933852658);
  --color-lime-100: oklch(0.2656440085576424 0.03488762780589012 132.00626926664896);
  --color-lime-200: oklch(0.3164905292401308 0.04748805741857823 131.68191476619089);
  --color-lime-300: oklch(0.36263426591024595 0.05746910807645044 131.02785812390908);
  --color-lime-400: oklch(0.41026792175628324 0.06751862054466927 131.4549918190691);
  --color-lime-500: oklch(0.46333291275762134 0.07939841141014178 131.0782494481352);
  --color-lime-600: oklch(0.5240842850184976 0.09448228928210121 130.62988512517728);
  --color-lime-700: oklch(0.8874179168483373 0.17473001133293342 126.08864160028848);
  --color-lime-800: oklch(0.9416649894167463 0.17574571983201262 123.75823626092738);
  --color-lime-900: oklch(0.8682757671948432 0.15519745564653378 124.73586478573463);
  --color-lime-950: oklch(0.9464898000294832 0.08193311132213078 122.70472579474927);
}
