@theme {
  --color-mauve-25: var(--color-mauve-25);
  --color-mauve-50: var(--color-mauve-50);
  --color-mauve-100: var(--color-mauve-100);
  --color-mauve-200: var(--color-mauve-200);
  --color-mauve-300: var(--color-mauve-300);
  --color-mauve-400: var(--color-mauve-400);
  --color-mauve-500: var(--color-mauve-500);
  --color-mauve-600: var(--color-mauve-600);
  --color-mauve-700: var(--color-mauve-700);
  --color-mauve-800: var(--color-mauve-800);
  --color-mauve-900: var(--color-mauve-900);
  --color-mauve-950: var(--color-mauve-950);
}

:root {
  --color-mauve-25: oklch(0.9921078641742457 0.0016810161768387513 325.58895255666494);
  --color-mauve-50: oklch(0.9834398593557317 0.0028337763293875703 308.4283799048858);
  --color-mauve-100: oklch(0.9555746803861411 0.006179014827104875 317.752480637835);
  --color-mauve-200: oklch(0.9317257103796402 0.007394514691432633 312.2988815931719);
  --color-mauve-300: oklch(0.9088026467537734 0.01032775628231763 311.17088720165975);
  --color-mauve-400: oklch(0.8869296969076735 0.011291739577358904 303.0934340929035);
  --color-mauve-500: oklch(0.8536687089496694 0.014053432015430228 299.7609993077683);
  --color-mauve-600: oklch(0.7945116464647795 0.018281007878569518 293.0480185155327);
  --color-mauve-700: oklch(0.646024572700293 0.019268534679237965 292.9183159810226);
  --color-mauve-800: oklch(0.612303954331095 0.01804383206109668 293.51215359502964);
  --color-mauve-900: oklch(0.5049790770881548 0.015830908009515806 294.9988279935864);
  --color-mauve-950: oklch(0.24450569322692192 0.013444132287757685 298.4628281375863);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mauve-25: oklch(0.17970188557805922 0.004337413423165089 308.1927262479395);
    --color-mauve-50: oklch(0.21538600544673006 0.004145032454773572 308.24682051925043);
    --color-mauve-100: oklch(0.25425764726608735 0.005743468496489128 301.1293672133803);
    --color-mauve-200: oklch(0.28463077727836283 0.007732869919955369 308.1592313466078);
    --color-mauve-300: oklch(0.3131817433378474 0.009212067769696101 303.9239470491065);
    --color-mauve-400: oklch(0.34986306004819434 0.011016193746793548 308.11152847093615);
    --color-mauve-500: oklch(0.40240867728658675 0.011857528922739138 298.9042892651805);
    --color-mauve-600: oklch(0.491739580446943 0.016151129219557064 299.4845732431377);
    --color-mauve-700: oklch(0.5403006330666588 0.017092379355630103 294.16392236134226);
    --color-mauve-800: oklch(0.5849204900132302 0.01675117699836447 294.2203509841753);
    --color-mauve-900: oklch(0.7690766845298376 0.014427921163871227 299.72229361083663);
    --color-mauve-950: oklch(0.9496854327373488 0.002665118197752733 286.34876278792376);
  }
}

.dark {
  --color-mauve-25: oklch(0.17970188557805922 0.004337413423165089 308.1927262479395);
  --color-mauve-50: oklch(0.21538600544673006 0.004145032454773572 308.24682051925043);
  --color-mauve-100: oklch(0.25425764726608735 0.005743468496489128 301.1293672133803);
  --color-mauve-200: oklch(0.28463077727836283 0.007732869919955369 308.1592313466078);
  --color-mauve-300: oklch(0.3131817433378474 0.009212067769696101 303.9239470491065);
  --color-mauve-400: oklch(0.34986306004819434 0.011016193746793548 308.11152847093615);
  --color-mauve-500: oklch(0.40240867728658675 0.011857528922739138 298.9042892651805);
  --color-mauve-600: oklch(0.491739580446943 0.016151129219557064 299.4845732431377);
  --color-mauve-700: oklch(0.5403006330666588 0.017092379355630103 294.16392236134226);
  --color-mauve-800: oklch(0.5849204900132302 0.01675117699836447 294.2203509841753);
  --color-mauve-900: oklch(0.7690766845298376 0.014427921163871227 299.72229361083663);
  --color-mauve-950: oklch(0.9496854327373488 0.002665118197752733 286.34876278792376);
}
