@theme {
  --color-mint-25: var(--color-mint-25);
  --color-mint-50: var(--color-mint-50);
  --color-mint-100: var(--color-mint-100);
  --color-mint-200: var(--color-mint-200);
  --color-mint-300: var(--color-mint-300);
  --color-mint-400: var(--color-mint-400);
  --color-mint-500: var(--color-mint-500);
  --color-mint-600: var(--color-mint-600);
  --color-mint-700: var(--color-mint-700);
  --color-mint-800: var(--color-mint-800);
  --color-mint-900: var(--color-mint-900);
  --color-mint-950: var(--color-mint-950);
}

:root {
  --color-mint-25: oklch(0.9929916144246669 0.005432004921975894 183.03479350596993);
  --color-mint-50: oklch(0.9808031528070943 0.009841877997878517 181.41535959239897);
  --color-mint-100: oklch(0.9599356111181802 0.030581854242350666 178.92994530546073);
  --color-mint-200: oklch(0.9332216256793512 0.04760622700795428 178.327044205997);
  --color-mint-300: oklch(0.9002026493452892 0.06107165204579176 178.05558711072212);
  --color-mint-400: oklch(0.8568208723034191 0.07202638200769369 178.1726482477795);
  --color-mint-500: oklch(0.7972808155062694 0.08414322264271751 178.22987420982867);
  --color-mint-600: oklch(0.7221355968664789 0.10631493446245126 177.84465592076884);
  --color-mint-700: oklch(0.8696083164482823 0.09991311776880121 177.97827668357695);
  --color-mint-800: oklch(0.840145893723376 0.09882323936242522 178.41511993253775);
  --color-mint-900: oklch(0.5117128247453188 0.09553124061426543 175.5975884909134);
  --color-mint-950: oklch(0.3496495217197678 0.05052311865612341 181.3053274904757);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mint-25: oklch(0.18856442596512984 0.010607880496036014 196.2872721743179);
    --color-mint-50: oklch(0.2108713526434631 0.01703436219792634 195.93560416870687);
    --color-mint-100: oklch(0.26830161959961724 0.039143448365994114 192.3588571921086);
    --color-mint-200: oklch(0.31463821049897 0.054169359331199936 190.97925646642673);
    --color-mint-300: oklch(0.35904503122687076 0.06200659976618744 189.96400171820477);
    --color-mint-400: oklch(0.41063442599506106 0.06624683298328116 186.23533055180118);
    --color-mint-500: oklch(0.47015870641374363 0.07250831953743957 183.5102048121729);
    --color-mint-600: oklch(0.540834917168676 0.0853430153777053 179.22869699857557);
    --color-mint-700: oklch(0.8696083164482823 0.09991311776880121 177.97827668357695);
    --color-mint-800: oklch(0.915577383210837 0.07898190170498767 180.00054523790828);
    --color-mint-900: oklch(0.7954251777412865 0.11808972288722645 176.45751222145574);
    --color-mint-950: oklch(0.9306029781372991 0.05700163096669572 168.27847853501393);
  }
}

.dark {
  --color-mint-25: oklch(0.18856442596512984 0.010607880496036014 196.2872721743179);
  --color-mint-50: oklch(0.2108713526434631 0.01703436219792634 195.93560416870687);
  --color-mint-100: oklch(0.26830161959961724 0.039143448365994114 192.3588571921086);
  --color-mint-200: oklch(0.31463821049897 0.054169359331199936 190.97925646642673);
  --color-mint-300: oklch(0.35904503122687076 0.06200659976618744 189.96400171820477);
  --color-mint-400: oklch(0.41063442599506106 0.06624683298328116 186.23533055180118);
  --color-mint-500: oklch(0.47015870641374363 0.07250831953743957 183.5102048121729);
  --color-mint-600: oklch(0.540834917168676 0.0853430153777053 179.22869699857557);
  --color-mint-700: oklch(0.8696083164482823 0.09991311776880121 177.97827668357695);
  --color-mint-800: oklch(0.915577383210837 0.07898190170498767 180.00054523790828);
  --color-mint-900: oklch(0.7954251777412865 0.11808972288722645 176.45751222145574);
  --color-mint-950: oklch(0.9306029781372991 0.05700163096669572 168.27847853501393);
}
