@theme {
  --color-olive-25: var(--color-olive-25);
  --color-olive-50: var(--color-olive-50);
  --color-olive-100: var(--color-olive-100);
  --color-olive-200: var(--color-olive-200);
  --color-olive-300: var(--color-olive-300);
  --color-olive-400: var(--color-olive-400);
  --color-olive-500: var(--color-olive-500);
  --color-olive-600: var(--color-olive-600);
  --color-olive-700: var(--color-olive-700);
  --color-olive-800: var(--color-olive-800);
  --color-olive-900: var(--color-olive-900);
  --color-olive-950: var(--color-olive-950);
}

:root {
  --color-olive-25: oklch(0.9930132079165415 0.0016803323419587136 145.56341325460244);
  --color-olive-50: oklch(0.9830323761370633 0.0033688263115028627 145.5502958371287);
  --color-olive-100: oklch(0.9560614276878576 0.0033923136911063263 145.54937821003205);
  --color-olive-200: oklch(0.9319266723705848 0.0034140434336089307 145.54850615811117);
  --color-olive-300: oklch(0.9096302559890708 0.00515152865977466 145.53335169462144);
  --color-olive-400: oklch(0.8851885720550325 0.005186662462336505 145.5318643069259);
  --color-olive-500: oklch(0.8513023978088773 0.005237425200133364 145.52964203774465);
  --color-olive-600: oklch(0.7916675596136635 0.0064737543129240955 137.77686023706542);
  --color-olive-700: oklch(0.6404370374316425 0.011790880438594557 136.5824829735977);
  --color-olive-800: oklch(0.6069818565750873 0.011949072700071629 136.58650245949732);
  --color-olive-900: oklch(0.5004210150296623 0.011214475197423177 140.49685565157748);
  --color-olive-950: oklch(0.24174690634576126 0.011048795580816066 139.4339846523588);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-olive-25: oklch(0.18023509571481072 0.004320890670673143 128.7303151967909);
    --color-olive-50: oklch(0.21152304661138893 0.004153443046377728 128.6810749197943);
    --color-olive-100: oklch(0.25013664006733455 0.003984474210490027 128.6391631308149);
    --color-olive-200: oklch(0.2818628757291201 0.006103111027221613 134.93509067716127);
    --color-olive-300: oklch(0.3100795184675166 0.005960338213652093 134.92280936188993);
    --color-olive-400: oklch(0.3451037821395664 0.007348701044069864 128.69987355475533);
    --color-olive-500: oklch(0.39715711392765224 0.009135279251881765 132.53258032741658);
    --color-olive-600: oklch(0.48861080283157565 0.013273566354669458 141.2251779964684);
    --color-olive-700: oklch(0.535190042487406 0.018139003306464483 139.43597434553132);
    --color-olive-800: oklch(0.5810209825683584 0.01587458974547943 138.72140915534985);
    --color-olive-900: oklch(0.7659943325391176 0.0130485353668354 137.79195457347447);
    --color-olive-950: oklch(0.9470289415791141 0.003400365088181812 145.54905770670783);
  }
}

.dark {
  --color-olive-25: oklch(0.18023509571481072 0.004320890670673143 128.7303151967909);
  --color-olive-50: oklch(0.21152304661138893 0.004153443046377728 128.6810749197943);
  --color-olive-100: oklch(0.25013664006733455 0.003984474210490027 128.6391631308149);
  --color-olive-200: oklch(0.2818628757291201 0.006103111027221613 134.93509067716127);
  --color-olive-300: oklch(0.3100795184675166 0.005960338213652093 134.92280936188993);
  --color-olive-400: oklch(0.3451037821395664 0.007348701044069864 128.69987355475533);
  --color-olive-500: oklch(0.39715711392765224 0.009135279251881765 132.53258032741658);
  --color-olive-600: oklch(0.48861080283157565 0.013273566354669458 141.2251779964684);
  --color-olive-700: oklch(0.535190042487406 0.018139003306464483 139.43597434553132);
  --color-olive-800: oklch(0.5810209825683584 0.01587458974547943 138.72140915534985);
  --color-olive-900: oklch(0.7659943325391176 0.0130485353668354 137.79195457347447);
  --color-olive-950: oklch(0.9470289415791141 0.003400365088181812 145.54905770670783);
}
