@theme {
  --color-orange-25: var(--color-orange-25);
  --color-orange-50: var(--color-orange-50);
  --color-orange-100: var(--color-orange-100);
  --color-orange-200: var(--color-orange-200);
  --color-orange-300: var(--color-orange-300);
  --color-orange-400: var(--color-orange-400);
  --color-orange-500: var(--color-orange-500);
  --color-orange-600: var(--color-orange-600);
  --color-orange-700: var(--color-orange-700);
  --color-orange-800: var(--color-orange-800);
  --color-orange-900: var(--color-orange-900);
  --color-orange-950: var(--color-orange-950);
}

:root {
  --color-orange-25: oklch(0.9923145292416597 0.002516540512954848 48.71956775499019);
  --color-orange-50: oklch(0.9796223225182471 0.015771583455842005 73.68404080080244);
  --color-orange-100: oklch(0.95831949633835 0.03712159438650655 79.11248637851207);
  --color-orange-200: oklch(0.9199631093337054 0.06509618150158729 74.3694721739889);
  --color-orange-300: oklch(0.8878858583838167 0.08750521993228157 71.31165375140942);
  --color-orange-400: oklch(0.8537226117356007 0.10682477879434991 66.0175057565231);
  --color-orange-500: oklch(0.8058553282755595 0.11232596265944113 59.961627935336935);
  --color-orange-600: oklch(0.7449986837006755 0.13222519177671652 54.68446885032537);
  --color-orange-700: oklch(0.6907961202801245 0.19091108141384097 45.01512796340211);
  --color-orange-800: oklch(0.6623592390748294 0.19455902799268054 43.45819712853662);
  --color-orange-900: oklch(0.5854877881417395 0.1742609191155046 42.735685636930704);
  --color-orange-950: oklch(0.34993085479216574 0.06850872648789043 40.82876901020091);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-orange-25: oklch(0.1869375404370287 0.01144439399951766 60.68096268714132);
    --color-orange-50: oklch(0.20781770248805848 0.018504086391366734 62.71942252407708);
    --color-orange-100: oklch(0.2578822487207294 0.044663566758385426 60.78976434757206);
    --color-orange-200: oklch(0.29368073935321415 0.07130075392986687 56.69973721418241);
    --color-orange-300: oklch(0.3339244168717277 0.08330259754680451 54.37934087023319);
    --color-orange-400: oklch(0.3849014096913544 0.0866851908224997 54.98292629500075);
    --color-orange-500: oklch(0.45231782652524904 0.0945107739092206 52.65873720606237);
    --color-orange-600: oklch(0.5405639077035272 0.1156160320768894 50.046448313520195);
    --color-orange-700: oklch(0.6907961202801245 0.19091108141384097 45.01512796340211);
    --color-orange-800: oklch(0.7326994796731914 0.18179145824342766 50.86461910515312);
    --color-orange-900: oklch(0.7887661467515561 0.14336404505828554 56.21278407275631);
    --color-orange-950: oklch(0.9247220089501037 0.05238000616070449 66.17321376025035);
  }
}

.dark {
  --color-orange-25: oklch(0.1869375404370287 0.01144439399951766 60.68096268714132);
  --color-orange-50: oklch(0.20781770248805848 0.018504086391366734 62.71942252407708);
  --color-orange-100: oklch(0.2578822487207294 0.044663566758385426 60.78976434757206);
  --color-orange-200: oklch(0.29368073935321415 0.07130075392986687 56.69973721418241);
  --color-orange-300: oklch(0.3339244168717277 0.08330259754680451 54.37934087023319);
  --color-orange-400: oklch(0.3849014096913544 0.0866851908224997 54.98292629500075);
  --color-orange-500: oklch(0.45231782652524904 0.0945107739092206 52.65873720606237);
  --color-orange-600: oklch(0.5405639077035272 0.1156160320768894 50.046448313520195);
  --color-orange-700: oklch(0.6907961202801245 0.19091108141384097 45.01512796340211);
  --color-orange-800: oklch(0.7326994796731914 0.18179145824342766 50.86461910515312);
  --color-orange-900: oklch(0.7887661467515561 0.14336404505828554 56.21278407275631);
  --color-orange-950: oklch(0.9247220089501037 0.05238000616070449 66.17321376025035);
}
