@theme {
  --color-pink-25: var(--color-pink-25);
  --color-pink-50: var(--color-pink-50);
  --color-pink-100: var(--color-pink-100);
  --color-pink-200: var(--color-pink-200);
  --color-pink-300: var(--color-pink-300);
  --color-pink-400: var(--color-pink-400);
  --color-pink-500: var(--color-pink-500);
  --color-pink-600: var(--color-pink-600);
  --color-pink-700: var(--color-pink-700);
  --color-pink-800: var(--color-pink-800);
  --color-pink-900: var(--color-pink-900);
  --color-pink-950: var(--color-pink-950);
}

:root {
  --color-pink-25: oklch(0.9939146971967147 0.004107930157019467 337.3484035079097);
  --color-pink-50: oklch(0.9826554377286324 0.009096028855796589 341.7982161071284);
  --color-pink-100: oklch(0.954217888644136 0.027599809088599006 342.25316256626655);
  --color-pink-200: oklch(0.9255043380750955 0.04212231980795473 340.6224272154321);
  --color-pink-300: oklch(0.892741405012578 0.05529674730913254 340.38883041631743);
  --color-pink-400: oklch(0.8557684693643052 0.06711324178890224 340.7191800091856);
  --color-pink-500: oklch(0.8097395007999122 0.08297955993670111 341.9207298006706);
  --color-pink-600: oklch(0.7513039352534298 0.10713768153936314 341.47662985175356);
  --color-pink-700: oklch(0.6167844269541086 0.20760808040734413 346.0031110597878);
  --color-pink-800: oklch(0.5955259803011739 0.20741417906044596 346.66952774016147);
  --color-pink-900: oklch(0.557537909566856 0.20687824978844002 347.3172531745152);
  --color-pink-950: oklch(0.3497700076070871 0.12891437034145575 345.36195871086755);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-pink-25: oklch(0.19062503646386647 0.01747400496498405 335.3453823620904);
    --color-pink-50: oklch(0.20763197917511977 0.031554685109281895 337.0017787291466);
    --color-pink-100: oklch(0.26161181043445164 0.06253056186079979 337.59206888453514);
    --color-pink-200: oklch(0.29864978074769444 0.09805979062748764 339.41640383016437);
    --color-pink-300: oklch(0.338007791401977 0.10467730332357231 341.1847086857177);
    --color-pink-400: oklch(0.3883612700288347 0.10745919901102853 341.4109709333098);
    --color-pink-500: oklch(0.4582757700226465 0.11967693905502558 342.9017164911243);
    --color-pink-600: oklch(0.5461531589207392 0.14493575478068627 343.96805671679317);
    --color-pink-700: oklch(0.6167844269541086 0.20760808040734413 346.0031110597878);
    --color-pink-800: oklch(0.6494704287870252 0.19700783608592637 345.9640494245784);
    --color-pink-900: oklch(0.7845696977672917 0.15503072257924566 346.96880618313287);
    --color-pink-950: oklch(0.9054809356402224 0.05877137129861093 343.2189761853966);
  }
}

.dark {
  --color-pink-25: oklch(0.19062503646386647 0.01747400496498405 335.3453823620904);
  --color-pink-50: oklch(0.20763197917511977 0.031554685109281895 337.0017787291466);
  --color-pink-100: oklch(0.26161181043445164 0.06253056186079979 337.59206888453514);
  --color-pink-200: oklch(0.29864978074769444 0.09805979062748764 339.41640383016437);
  --color-pink-300: oklch(0.338007791401977 0.10467730332357231 341.1847086857177);
  --color-pink-400: oklch(0.3883612700288347 0.10745919901102853 341.4109709333098);
  --color-pink-500: oklch(0.4582757700226465 0.11967693905502558 342.9017164911243);
  --color-pink-600: oklch(0.5461531589207392 0.14493575478068627 343.96805671679317);
  --color-pink-700: oklch(0.6167844269541086 0.20760808040734413 346.0031110597878);
  --color-pink-800: oklch(0.6494704287870252 0.19700783608592637 345.9640494245784);
  --color-pink-900: oklch(0.7845696977672917 0.15503072257924566 346.96880618313287);
  --color-pink-950: oklch(0.9054809356402224 0.05877137129861093 343.2189761853966);
}
