@theme {
  --color-plum-25: var(--color-plum-25);
  --color-plum-50: var(--color-plum-50);
  --color-plum-100: var(--color-plum-100);
  --color-plum-200: var(--color-plum-200);
  --color-plum-300: var(--color-plum-300);
  --color-plum-400: var(--color-plum-400);
  --color-plum-500: var(--color-plum-500);
  --color-plum-600: var(--color-plum-600);
  --color-plum-700: var(--color-plum-700);
  --color-plum-800: var(--color-plum-800);
  --color-plum-900: var(--color-plum-900);
  --color-plum-950: var(--color-plum-950);
}

:root {
  --color-plum-25: oklch(0.9934311877592342 0.0044601019206269915 314.80508762481935);
  --color-plum-50: oklch(0.9824455577948639 0.01011444246571388 325.65341712879035);
  --color-plum-100: oklch(0.9573250278909683 0.02715581251488466 325.7870296038124);
  --color-plum-200: oklch(0.9285912505575371 0.043777514339956955 324.75559664503686);
  --color-plum-300: oklch(0.8985268392064826 0.0578778579974858 325.14028603282367);
  --color-plum-400: oklch(0.8606333902168202 0.0709665062280131 323.8935344119657);
  --color-plum-500: oklch(0.8092959899630963 0.0915265260613936 323.31064727447796);
  --color-plum-600: oklch(0.741341533588013 0.1201956239680827 322.236665125326);
  --color-plum-700: oklch(0.5787369216868712 0.18772172115750269 322.10662222653445);
  --color-plum-800: oklch(0.551947816395531 0.18119939080964356 322.2385968057938);
  --color-plum-900: oklch(0.5215558447711841 0.172650513168892 321.8942059721652);
  --color-plum-950: oklch(0.33767181116340506 0.1251326193348444 321.4230776631148);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-plum-25: oklch(0.18974874694453184 0.017742738212057844 326.2488032165679);
    --color-plum-50: oklch(0.21004039881108189 0.03182506119966165 326.6354026408708);
    --color-plum-100: oklch(0.2672812131311337 0.060862913889448804 327.1107649443706);
    --color-plum-200: oklch(0.30718086462865657 0.08737552529348387 325.61387108588224);
    --color-plum-300: oklch(0.34384516900532774 0.09667372698685947 325.01710210467644);
    --color-plum-400: oklch(0.388956593947816 0.09718801416640262 324.9586360318744);
    --color-plum-500: oklch(0.45601953917484817 0.1073846013827812 323.2148306373726);
    --color-plum-600: oklch(0.5450135589121011 0.1280588191530632 321.88427858236884);
    --color-plum-700: oklch(0.5787369216868712 0.18772172115750269 322.10662222653445);
    --color-plum-800: oklch(0.6161562934001399 0.18175136474146636 322.2993305393157);
    --color-plum-900: oklch(0.7860613030156394 0.15361023186041922 322.21696837890374);
    --color-plum-950: oklch(0.9061384081711331 0.05501605323589394 326.0201480489867);
  }
}

.dark {
  --color-plum-25: oklch(0.18974874694453184 0.017742738212057844 326.2488032165679);
  --color-plum-50: oklch(0.21004039881108189 0.03182506119966165 326.6354026408708);
  --color-plum-100: oklch(0.2672812131311337 0.060862913889448804 327.1107649443706);
  --color-plum-200: oklch(0.30718086462865657 0.08737552529348387 325.61387108588224);
  --color-plum-300: oklch(0.34384516900532774 0.09667372698685947 325.01710210467644);
  --color-plum-400: oklch(0.388956593947816 0.09718801416640262 324.9586360318744);
  --color-plum-500: oklch(0.45601953917484817 0.1073846013827812 323.2148306373726);
  --color-plum-600: oklch(0.5450135589121011 0.1280588191530632 321.88427858236884);
  --color-plum-700: oklch(0.5787369216868712 0.18772172115750269 322.10662222653445);
  --color-plum-800: oklch(0.6161562934001399 0.18175136474146636 322.2993305393157);
  --color-plum-900: oklch(0.7860613030156394 0.15361023186041922 322.21696837890374);
  --color-plum-950: oklch(0.9061384081711331 0.05501605323589394 326.0201480489867);
}
