@theme {
  --color-purple-25: var(--color-purple-25);
  --color-purple-50: var(--color-purple-50);
  --color-purple-100: var(--color-purple-100);
  --color-purple-200: var(--color-purple-200);
  --color-purple-300: var(--color-purple-300);
  --color-purple-400: var(--color-purple-400);
  --color-purple-500: var(--color-purple-500);
  --color-purple-600: var(--color-purple-600);
  --color-purple-700: var(--color-purple-700);
  --color-purple-800: var(--color-purple-800);
  --color-purple-900: var(--color-purple-900);
  --color-purple-950: var(--color-purple-950);
}

:root {
  --color-purple-25: oklch(0.9931500460119902 0.003361423465191723 325.6016660169799);
  --color-purple-50: oklch(0.9811866561503955 0.010131517792697796 311.17972757965003);
  --color-purple-100: oklch(0.9588456936286387 0.0248758578291698 311.7071622198627);
  --color-purple-200: oklch(0.9332669073330359 0.03860944062003595 312.65481529001215);
  --color-purple-300: oklch(0.9011593499275539 0.05335607158318462 311.2488504479333);
  --color-purple-400: oklch(0.8591753544089955 0.07184030776940427 311.05171792709586);
  --color-purple-500: oklch(0.8042742936281229 0.09175834211356011 309.68925317802086);
  --color-purple-600: oklch(0.7330538997284712 0.12252496394242979 307.96850714906657);
  --color-purple-700: oklch(0.5556231536255614 0.1829101015858221 305.86011811106033);
  --color-purple-800: oklch(0.5246355639632209 0.175482173996874 305.39344317286265);
  --color-purple-900: oklch(0.5168332281507614 0.17332012308549039 305.8770647271601);
  --color-purple-950: oklch(0.32222168289073994 0.11020821204726032 303.83931976483603);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-purple-25: oklch(0.19132834670522242 0.022498246059232244 315.5948658510663);
    --color-purple-50: oklch(0.21374510500315538 0.02994342777935807 313.1318344254531);
    --color-purple-100: oklch(0.26770276464987625 0.06118762403685574 312.6134150716301);
    --color-purple-200: oklch(0.3087767851637405 0.08183636006018806 310.8006204336559);
    --color-purple-300: oklch(0.34474516429642854 0.09204782826151775 310.5001483584417);
    --color-purple-400: oklch(0.38869366433004404 0.09638249842649314 309.45390198831916);
    --color-purple-500: oklch(0.44855621287349934 0.10794494038191395 308.6087783418024);
    --color-purple-600: oklch(0.5412261543395621 0.1326499903787706 307.56911622638603);
    --color-purple-700: oklch(0.5556231536255614 0.1829101015858221 305.86011811106033);
    --color-purple-800: oklch(0.5955192397204876 0.17675194003826888 306.4545594385531);
    --color-purple-900: oklch(0.7806567463832023 0.1452197665621697 307.7409990518413);
    --color-purple-950: oklch(0.9106863364887546 0.04868966153134398 310.9895729983583);
  }
}

.dark {
  --color-purple-25: oklch(0.19132834670522242 0.022498246059232244 315.5948658510663);
  --color-purple-50: oklch(0.21374510500315538 0.02994342777935807 313.1318344254531);
  --color-purple-100: oklch(0.26770276464987625 0.06118762403685574 312.6134150716301);
  --color-purple-200: oklch(0.3087767851637405 0.08183636006018806 310.8006204336559);
  --color-purple-300: oklch(0.34474516429642854 0.09204782826151775 310.5001483584417);
  --color-purple-400: oklch(0.38869366433004404 0.09638249842649314 309.45390198831916);
  --color-purple-500: oklch(0.44855621287349934 0.10794494038191395 308.6087783418024);
  --color-purple-600: oklch(0.5412261543395621 0.1326499903787706 307.56911622638603);
  --color-purple-700: oklch(0.5556231536255614 0.1829101015858221 305.86011811106033);
  --color-purple-800: oklch(0.5955192397204876 0.17675194003826888 306.4545594385531);
  --color-purple-900: oklch(0.7806567463832023 0.1452197665621697 307.7409990518413);
  --color-purple-950: oklch(0.9106863364887546 0.04868966153134398 310.9895729983583);
}
