@theme {
  --color-red-25: var(--color-red-25);
  --color-red-50: var(--color-red-50);
  --color-red-100: var(--color-red-100);
  --color-red-200: var(--color-red-200);
  --color-red-300: var(--color-red-300);
  --color-red-400: var(--color-red-400);
  --color-red-500: var(--color-red-500);
  --color-red-600: var(--color-red-600);
  --color-red-700: var(--color-red-700);
  --color-red-800: var(--color-red-800);
  --color-red-900: var(--color-red-900);
  --color-red-950: var(--color-red-950);
}

:root {
  --color-red-25: oklch(0.9933571731928064 0.003193069994567531 17.21113615364867);
  --color-red-50: oklch(0.9823195576495474 0.0085755706692541 17.302439384699486);
  --color-red-100: oklch(0.9554710057762619 0.020717866891570846 13.856632631303546);
  --color-red-200: oklch(0.9217216793043504 0.04011017340302747 16.00440448299363);
  --color-red-300: oklch(0.892040634046482 0.05674547469774967 16.92570450414993);
  --color-red-400: oklch(0.8569037327047894 0.07407192376253545 17.676140770753225);
  --color-red-500: oklch(0.8069875005376685 0.08879096514336951 18.320089553485147);
  --color-red-600: oklch(0.7443365664450678 0.11325241478473212 18.752894078010026);
  --color-red-700: oklch(0.6255652610932986 0.19333992907896502 23.026060464778094);
  --color-red-800: oklch(0.5990206774026189 0.1946557019918513 24.035342618622103);
  --color-red-900: oklch(0.5570030693746768 0.19742992665996062 25.168143069688604);
  --color-red-950: oklch(0.33899122502767054 0.1089081795700506 16.600129648121957);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-red-25: oklch(0.18802930758085837 0.01345353388277149 18.42035113677581);
    --color-red-50: oklch(0.2045751731276599 0.02167621302532975 14.063897535348294);
    --color-red-100: oklch(0.2510498535330083 0.0649350206591782 12.692452475103607);
    --color-red-200: oklch(0.28928530677226416 0.09510856034028958 14.330187006354345);
    --color-red-300: oklch(0.3321147127393655 0.10666626630978158 15.52645415118837);
    --color-red-400: oklch(0.38144044626931817 0.11081611004704049 16.803228539408444);
    --color-red-500: oklch(0.45018098953893176 0.12106087018494774 18.774345256538105);
    --color-red-600: oklch(0.543563325751152 0.14575659021976023 21.762040597679388);
    --color-red-700: oklch(0.6255652610932986 0.19333992907896502 23.026060464778094);
    --color-red-800: oklch(0.6633849954203398 0.177389123303089 22.85075690714469);
    --color-red-900: oklch(0.7804143472282056 0.12811585963022615 22.139494013017487);
    --color-red-950: oklch(0.9023648198906302 0.05267565620951902 6.454056514077958);
  }
}

.dark {
  --color-red-25: oklch(0.18802930758085837 0.01345353388277149 18.42035113677581);
  --color-red-50: oklch(0.2045751731276599 0.02167621302532975 14.063897535348294);
  --color-red-100: oklch(0.2510498535330083 0.0649350206591782 12.692452475103607);
  --color-red-200: oklch(0.28928530677226416 0.09510856034028958 14.330187006354345);
  --color-red-300: oklch(0.3321147127393655 0.10666626630978158 15.52645415118837);
  --color-red-400: oklch(0.38144044626931817 0.11081611004704049 16.803228539408444);
  --color-red-500: oklch(0.45018098953893176 0.12106087018494774 18.774345256538105);
  --color-red-600: oklch(0.543563325751152 0.14575659021976023 21.762040597679388);
  --color-red-700: oklch(0.6255652610932986 0.19333992907896502 23.026060464778094);
  --color-red-800: oklch(0.6633849954203398 0.177389123303089 22.85075690714469);
  --color-red-900: oklch(0.7804143472282056 0.12811585963022615 22.139494013017487);
  --color-red-950: oklch(0.9023648198906302 0.05267565620951902 6.454056514077958);
}
