@theme {
  --color-ruby-25: var(--color-ruby-25);
  --color-ruby-50: var(--color-ruby-50);
  --color-ruby-100: var(--color-ruby-100);
  --color-ruby-200: var(--color-ruby-200);
  --color-ruby-300: var(--color-ruby-300);
  --color-ruby-400: var(--color-ruby-400);
  --color-ruby-500: var(--color-ruby-500);
  --color-ruby-600: var(--color-ruby-600);
  --color-ruby-700: var(--color-ruby-700);
  --color-ruby-800: var(--color-ruby-800);
  --color-ruby-900: var(--color-ruby-900);
  --color-ruby-950: var(--color-ruby-950);
}

:root {
  --color-ruby-25: oklch(0.9936352769168615 0.003435753917444056 354.68754535565);
  --color-ruby-50: oklch(0.9825966438363447 0.008654738890863519 8.540549166011319);
  --color-ruby-100: oklch(0.9538420087256708 0.022096186738766992 7.175341542458643);
  --color-ruby-200: oklch(0.924957996369069 0.0393300329114431 8.137464766509389);
  --color-ruby-300: oklch(0.8960379382057031 0.056198128068181336 7.272713395110359);
  --color-ruby-400: oklch(0.858200680792511 0.06637880733549177 7.999732492076503);
  --color-ruby-500: oklch(0.8106693072904498 0.07991510187530151 7.150331132276059);
  --color-ruby-600: oklch(0.7488828436094536 0.10208627636472511 6.4983251457965245);
  --color-ruby-700: oklch(0.6283614116726508 0.1948661058897922 13.150385639094662);
  --color-ruby-800: oklch(0.6012032790900061 0.1966596411665853 13.517457769983993);
  --color-ruby-900: oklch(0.5489074421848078 0.19852259008757409 13.897895740093857);
  --color-ruby-950: oklch(0.3410475663660241 0.10954710030452211 9.999549097371423);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-ruby-25: oklch(0.18883084969355288 0.013858017403116074 1.8684734178937445);
    --color-ruby-50: oklch(0.20792064883266761 0.015108716329447021 3.6478018883652337);
    --color-ruby-100: oklch(0.25411969307829585 0.06115878944948695 6.045971059327602);
    --color-ruby-200: oklch(0.2925420557001163 0.08919769425717987 6.07258669895247);
    --color-ruby-300: oklch(0.3341341512792723 0.09972372800558117 6.475456117868485);
    --color-ruby-400: oklch(0.3819742156829743 0.1059322696991759 7.059413710746395);
    --color-ruby-500: oklch(0.4482420646156457 0.1157975316211416 9.124943978853281);
    --color-ruby-600: oklch(0.5431851061775126 0.14482028449629566 11.26881691741094);
    --color-ruby-700: oklch(0.6283614116726508 0.1948661058897922 13.150385639094662);
    --color-ruby-800: oklch(0.6638531167657463 0.18026025653318253 13.626199742750599);
    --color-ruby-900: oklch(0.7814114788311175 0.1288504063099634 15.098281625936249);
    --color-ruby-950: oklch(0.9055485415654337 0.05282174782431211 355.7469975333564);
  }
}

.dark {
  --color-ruby-25: oklch(0.18883084969355288 0.013858017403116074 1.8684734178937445);
  --color-ruby-50: oklch(0.20792064883266761 0.015108716329447021 3.6478018883652337);
  --color-ruby-100: oklch(0.25411969307829585 0.06115878944948695 6.045971059327602);
  --color-ruby-200: oklch(0.2925420557001163 0.08919769425717987 6.07258669895247);
  --color-ruby-300: oklch(0.3341341512792723 0.09972372800558117 6.475456117868485);
  --color-ruby-400: oklch(0.3819742156829743 0.1059322696991759 7.059413710746395);
  --color-ruby-500: oklch(0.4482420646156457 0.1157975316211416 9.124943978853281);
  --color-ruby-600: oklch(0.5431851061775126 0.14482028449629566 11.26881691741094);
  --color-ruby-700: oklch(0.6283614116726508 0.1948661058897922 13.150385639094662);
  --color-ruby-800: oklch(0.6638531167657463 0.18026025653318253 13.626199742750599);
  --color-ruby-900: oklch(0.7814114788311175 0.1288504063099634 15.098281625936249);
  --color-ruby-950: oklch(0.9055485415654337 0.05282174782431211 355.7469975333564);
}
