@theme {
  --color-sage-25: var(--color-sage-25);
  --color-sage-50: var(--color-sage-50);
  --color-sage-100: var(--color-sage-100);
  --color-sage-200: var(--color-sage-200);
  --color-sage-300: var(--color-sage-300);
  --color-sage-400: var(--color-sage-400);
  --color-sage-500: var(--color-sage-500);
  --color-sage-600: var(--color-sage-600);
  --color-sage-700: var(--color-sage-700);
  --color-sage-800: var(--color-sage-800);
  --color-sage-900: var(--color-sage-900);
  --color-sage-950: var(--color-sage-950);
}

:root {
  --color-sage-25: oklch(0.9922587434962451 0.0024820982841689955 165.07822116934219);
  --color-sage-50: oklch(0.9803228913142558 0.002489587998873061 165.0772179845147);
  --color-sage-100: oklch(0.9555828006712379 0.003456986132120464 174.48185644353626);
  --color-sage-200: oklch(0.9314451645989749 0.003478953679392131 174.4784208102128);
  --color-sage-300: oklch(0.9099122951045582 0.004192887094151609 157.17130648013026);
  --color-sage-400: oklch(0.885757883096299 0.0035225242759742885 174.47133683139631);
  --color-sage-500: oklch(0.8508125206960624 0.0051526491179542866 164.9842916932044);
  --color-sage-600: oklch(0.7914592100354381 0.005245625421767657 164.96912444432294);
  --color-sage-700: oklch(0.6392045797422679 0.010322281022499756 171.6080448502922);
  --color-sage-800: oklch(0.6057372103229846 0.010455844496470926 171.5747906220559);
  --color-sage-900: oklch(0.5008444017468733 0.00806986765759414 174.11101050682183);
  --color-sage-950: oklch(0.23960308377744077 0.011660511666561485 167.55688212390336);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-sage-25: oklch(0.17952936407577208 0.003780524374498375 164.58013819395654);
    --color-sage-50: oklch(0.2108398239614365 0.003636893453026985 164.6839882259509);
    --color-sage-100: oklch(0.24947724735956514 0.0034912853460376133 164.77205815019877);
    --color-sage-200: oklch(0.281605737262589 0.0046584640430967425 174.09805807318838);
    --color-sage-300: oklch(0.3098263849801744 0.004553430443870404 174.15356491785818);
    --color-sage-400: oklch(0.3477744367402696 0.006415456764505277 164.6514266080944);
    --color-sage-500: oklch(0.4000840480236077 0.007335649695973492 170.09050629935874);
    --color-sage-600: oklch(0.4890324956301986 0.009904123810236119 168.42042665476353);
    --color-sage-700: oklch(0.5326554944972307 0.017477969354508988 170.538871713772);
    --color-sage-800: oklch(0.5784951189543056 0.015468124412875768 173.78676869068158);
    --color-sage-900: oklch(0.7658787863774967 0.009882737283239832 171.7045171929205);
    --color-sage-950: oklch(0.9473093492772945 0.002510908854833434 165.07429436160893);
  }
}

.dark {
  --color-sage-25: oklch(0.17952936407577208 0.003780524374498375 164.58013819395654);
  --color-sage-50: oklch(0.2108398239614365 0.003636893453026985 164.6839882259509);
  --color-sage-100: oklch(0.24947724735956514 0.0034912853460376133 164.77205815019877);
  --color-sage-200: oklch(0.281605737262589 0.0046584640430967425 174.09805807318838);
  --color-sage-300: oklch(0.3098263849801744 0.004553430443870404 174.15356491785818);
  --color-sage-400: oklch(0.3477744367402696 0.006415456764505277 164.6514266080944);
  --color-sage-500: oklch(0.4000840480236077 0.007335649695973492 170.09050629935874);
  --color-sage-600: oklch(0.4890324956301986 0.009904123810236119 168.42042665476353);
  --color-sage-700: oklch(0.5326554944972307 0.017477969354508988 170.538871713772);
  --color-sage-800: oklch(0.5784951189543056 0.015468124412875768 173.78676869068158);
  --color-sage-900: oklch(0.7658787863774967 0.009882737283239832 171.7045171929205);
  --color-sage-950: oklch(0.9473093492772945 0.002510908854833434 165.07429436160893);
}
