@theme {
  --color-sand-25: var(--color-sand-25);
  --color-sand-50: var(--color-sand-50);
  --color-sand-100: var(--color-sand-100);
  --color-sand-200: var(--color-sand-200);
  --color-sand-300: var(--color-sand-300);
  --color-sand-400: var(--color-sand-400);
  --color-sand-500: var(--color-sand-500);
  --color-sand-600: var(--color-sand-600);
  --color-sand-700: var(--color-sand-700);
  --color-sand-800: var(--color-sand-800);
  --color-sand-900: var(--color-sand-900);
  --color-sand-950: var(--color-sand-950);
}

:root {
  --color-sand-25: oklch(0.9937703823521533 0.0013160420923955406 106.42352917710224);
  --color-sand-50: oklch(0.9818390294715618 0.0013200146929102335 106.42389256922671);
  --color-sand-100: oklch(0.9556271067747251 0.0017186854866178538 67.8015621274143);
  --color-sand-200: oklch(0.9312089848187042 0.0028959643391714327 84.55931939136227);
  --color-sand-300: oklch(0.9096775709246828 0.004188359205980336 91.4494666162026);
  --color-sand-400: oklch(0.8852359214200274 0.004216737937484319 91.45084842387193);
  --color-sand-500: oklch(0.8510666476171257 0.0055857840684382645 95.11098421052316);
  --color-sand-600: oklch(0.7911470240341881 0.008421257543304108 98.91217633027377);
  --color-sand-700: oklch(0.6412981285962605 0.010232186548314528 106.68466821897529);
  --color-sand-800: oklch(0.6047787541459291 0.00890361263532541 106.66287556518779);
  --color-sand-900: oklch(0.4980883243871002 0.007786206519017901 106.67896038003028);
  --color-sand-950: oklch(0.24313967875227874 0.007562526260803074 95.37243513225322);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-sand-25: oklch(0.17721823102853332 0.0020190931980714694 106.6038546935789);
    --color-sand-50: oklch(0.2130200745482069 0.001929728740597911 106.56229052657957);
    --color-sand-100: oklch(0.2515774891979283 0.001852076476349202 106.53198245289713);
    --color-sand-200: oklch(0.28427352709887965 0.003586814830524943 106.62559445954982);
    --color-sand-300: oklch(0.3120856512531355 0.00524881835072619 106.6998949447342);
    --color-sand-400: oklch(0.3483999914171236 0.005302944237110111 91.53719677681492);
    --color-sand-500: oklch(0.40127275219920316 0.006714580133899206 95.22471380362057);
    --color-sand-600: oklch(0.48927911466876634 0.008238835535163937 88.69592073340655);
    --color-sand-700: oklch(0.5343657435168652 0.010989610779947659 93.671830965253);
    --color-sand-800: oklch(0.581635557469888 0.010553155620449093 100.10743689147915);
    --color-sand-900: oklch(0.7666403458702521 0.008721053244827671 91.50648274330803);
    --color-sand-950: oklch(0.9485587279758854 0.0026617849807849363 106.45023866061788);
  }
}

.dark {
  --color-sand-25: oklch(0.17721823102853332 0.0020190931980714694 106.6038546935789);
  --color-sand-50: oklch(0.2130200745482069 0.001929728740597911 106.56229052657957);
  --color-sand-100: oklch(0.2515774891979283 0.001852076476349202 106.53198245289713);
  --color-sand-200: oklch(0.28427352709887965 0.003586814830524943 106.62559445954982);
  --color-sand-300: oklch(0.3120856512531355 0.00524881835072619 106.6998949447342);
  --color-sand-400: oklch(0.3483999914171236 0.005302944237110111 91.53719677681492);
  --color-sand-500: oklch(0.40127275219920316 0.006714580133899206 95.22471380362057);
  --color-sand-600: oklch(0.48927911466876634 0.008238835535163937 88.69592073340655);
  --color-sand-700: oklch(0.5343657435168652 0.010989610779947659 93.671830965253);
  --color-sand-800: oklch(0.581635557469888 0.010553155620449093 100.10743689147915);
  --color-sand-900: oklch(0.7666403458702521 0.008721053244827671 91.50648274330803);
  --color-sand-950: oklch(0.9485587279758854 0.0026617849807849363 106.45023866061788);
}
