@theme {
  --color-sky-25: var(--color-sky-25);
  --color-sky-50: var(--color-sky-50);
  --color-sky-100: var(--color-sky-100);
  --color-sky-200: var(--color-sky-200);
  --color-sky-300: var(--color-sky-300);
  --color-sky-400: var(--color-sky-400);
  --color-sky-500: var(--color-sky-500);
  --color-sky-600: var(--color-sky-600);
  --color-sky-700: var(--color-sky-700);
  --color-sky-800: var(--color-sky-800);
  --color-sky-900: var(--color-sky-900);
  --color-sky-950: var(--color-sky-950);
}

:root {
  --color-sky-25: oklch(0.993552020757127 0.005461505806919351 211.03949071872964);
  --color-sky-50: oklch(0.9792310323946233 0.01034965552748153 219.58724061594077);
  --color-sky-100: oklch(0.9598212621098573 0.024009382026342424 219.72007434395903);
  --color-sky-200: oklch(0.9358361417863452 0.035111743545026164 219.19184500195);
  --color-sky-300: oklch(0.9033322431950283 0.04668532463841532 220.56359649814203);
  --color-sky-400: oklch(0.8603603465024108 0.05714685326884256 223.64505203032962);
  --color-sky-500: oklch(0.8062529503135948 0.07161553740837977 225.48424916339155);
  --color-sky-600: oklch(0.7283034827924445 0.0961411585877743 228.43211626980118);
  --color-sky-700: oklch(0.8610684102361794 0.10272096888824145 217.80448261626307);
  --color-sky-800: oklch(0.8377560349000377 0.10380115043207462 219.3701340635068);
  --color-sky-900: oklch(0.5254651547638555 0.10792776362886505 232.54826249769616);
  --color-sky-950: oklch(0.35067641131977684 0.05717371560480961 242.37371647986143);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-sky-25: oklch(0.19001633184671865 0.024970708696658985 259.2373779534167);
    --color-sky-50: oklch(0.2157946828671617 0.02902726876318721 257.52691035215395);
    --color-sky-100: oklch(0.2714445008598542 0.0535272641002998 251.28963211140046);
    --color-sky-200: oklch(0.3207857182602402 0.07029296042934693 248.73963694222726);
    --color-sky-300: oklch(0.3734344219248147 0.07816731008147917 244.91871582301542);
    --color-sky-400: oklch(0.42617747395400396 0.08778787743871551 243.9232244177507);
    --color-sky-500: oklch(0.48842400217930126 0.0982010370858274 240.80853129192343);
    --color-sky-600: oklch(0.5568396709205482 0.11454006021359245 237.44068404104098);
    --color-sky-700: oklch(0.8610684102361794 0.10272096888824145 217.80448261626307);
    --color-sky-800: oklch(0.9084922821208171 0.07316430320182786 214.51294661287602);
    --color-sky-900: oklch(0.7927056740976062 0.09914212616551502 231.61264991613274);
    --color-sky-950: oklch(0.9339856508198893 0.05255992171120692 214.3169623689714);
  }
}

.dark {
  --color-sky-25: oklch(0.19001633184671865 0.024970708696658985 259.2373779534167);
  --color-sky-50: oklch(0.2157946828671617 0.02902726876318721 257.52691035215395);
  --color-sky-100: oklch(0.2714445008598542 0.0535272641002998 251.28963211140046);
  --color-sky-200: oklch(0.3207857182602402 0.07029296042934693 248.73963694222726);
  --color-sky-300: oklch(0.3734344219248147 0.07816731008147917 244.91871582301542);
  --color-sky-400: oklch(0.42617747395400396 0.08778787743871551 243.9232244177507);
  --color-sky-500: oklch(0.48842400217930126 0.0982010370858274 240.80853129192343);
  --color-sky-600: oklch(0.5568396709205482 0.11454006021359245 237.44068404104098);
  --color-sky-700: oklch(0.8610684102361794 0.10272096888824145 217.80448261626307);
  --color-sky-800: oklch(0.9084922821208171 0.07316430320182786 214.51294661287602);
  --color-sky-900: oklch(0.7927056740976062 0.09914212616551502 231.61264991613274);
  --color-sky-950: oklch(0.9339856508198893 0.05255992171120692 214.3169623689714);
}
