@theme {
  --color-slate-25: var(--color-slate-25);
  --color-slate-50: var(--color-slate-50);
  --color-slate-100: var(--color-slate-100);
  --color-slate-200: var(--color-slate-200);
  --color-slate-300: var(--color-slate-300);
  --color-slate-400: var(--color-slate-400);
  --color-slate-500: var(--color-slate-500);
  --color-slate-600: var(--color-slate-600);
  --color-slate-700: var(--color-slate-700);
  --color-slate-800: var(--color-slate-800);
  --color-slate-900: var(--color-slate-900);
  --color-slate-950: var(--color-slate-950);
}

:root {
  --color-slate-25: oklch(0.9913482108162063 0.0013178094108299422 286.3755507163385);
  --color-slate-50: oklch(0.9826788779385844 0.0026423780091138966 286.3508935335121);
  --color-slate-100: oklch(0.9559900282872695 0.003992511514283844 286.32386252930576);
  --color-slate-200: oklch(0.9321428975074262 0.005359253108439423 286.2952078218601);
  --color-slate-300: oklch(0.9104177080543252 0.006845792863608737 277.1556785816534);
  --color-slate-400: oklch(0.8873499910660121 0.009506548822754632 286.2043390917893);
  --color-slate-500: oklch(0.8530056031859505 0.011054069006616863 280.445857524017);
  --color-slate-600: oklch(0.7938433229326276 0.015600983960855517 277.7889854406332);
  --color-slate-700: oklch(0.645313935869397 0.016454192211054913 277.69978370707054);
  --color-slate-800: oklch(0.6107504019429953 0.015457557557107279 272.564973530216);
  --color-slate-900: oklch(0.5024886403558039 0.013621269731076363 264.4449530077313);
  --color-slate-950: oklch(0.24113013944501638 0.009690541997275762 248.2290218435311);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-slate-25: oklch(0.17852907193943607 0.004066350266412883 285.98065825000174);
    --color-slate-50: oklch(0.21317511836892525 0.004212613841596372 264.47888103888835);
    --color-slate-100: oklch(0.252140135398954 0.005820766766438508 271.1816457486491);
    --color-slate-200: oklch(0.28319331936675085 0.006987935202722144 248.07497141084758);
    --color-slate-300: oklch(0.3117746163743208 0.008302132084376482 255.56008912619262);
    --color-slate-400: oklch(0.3465519011371717 0.010287899196251166 253.97108948497896);
    --color-slate-500: oklch(0.3992805860718126 0.012058548421461163 252.9389085158527);
    --color-slate-600: oklch(0.48931770858549567 0.015513375023534014 251.6908389866781);
    --color-slate-700: oklch(0.5370044610936577 0.01531792285958656 262.3428499745812);
    --color-slate-800: oklch(0.5825137487432553 0.014543350004401828 266.62602082840556);
    --color-slate-900: oklch(0.7685604793654067 0.009640644817342885 258.3418587268999);
    --color-slate-950: oklch(0.9489207911782953 0.0028876627761423557 264.5417810017685);
  }
}

.dark {
  --color-slate-25: oklch(0.17852907193943607 0.004066350266412883 285.98065825000174);
  --color-slate-50: oklch(0.21317511836892525 0.004212613841596372 264.47888103888835);
  --color-slate-100: oklch(0.252140135398954 0.005820766766438508 271.1816457486491);
  --color-slate-200: oklch(0.28319331936675085 0.006987935202722144 248.07497141084758);
  --color-slate-300: oklch(0.3117746163743208 0.008302132084376482 255.56008912619262);
  --color-slate-400: oklch(0.3465519011371717 0.010287899196251166 253.97108948497896);
  --color-slate-500: oklch(0.3992805860718126 0.012058548421461163 252.9389085158527);
  --color-slate-600: oklch(0.48931770858549567 0.015513375023534014 251.6908389866781);
  --color-slate-700: oklch(0.5370044610936577 0.01531792285958656 262.3428499745812);
  --color-slate-800: oklch(0.5825137487432553 0.014543350004401828 266.62602082840556);
  --color-slate-900: oklch(0.7685604793654067 0.009640644817342885 258.3418587268999);
  --color-slate-950: oklch(0.9489207911782953 0.0028876627761423557 264.5417810017685);
}
