@theme {
  --color-teal-25: var(--color-teal-25);
  --color-teal-50: var(--color-teal-50);
  --color-teal-100: var(--color-teal-100);
  --color-teal-200: var(--color-teal-200);
  --color-teal-300: var(--color-teal-300);
  --color-teal-400: var(--color-teal-400);
  --color-teal-500: var(--color-teal-500);
  --color-teal-600: var(--color-teal-600);
  --color-teal-700: var(--color-teal-700);
  --color-teal-800: var(--color-teal-800);
  --color-teal-900: var(--color-teal-900);
  --color-teal-950: var(--color-teal-950);
}

:root {
  --color-teal-25: oklch(0.9937373870609092 0.00441646528829755 179.73917726910273);
  --color-teal-50: oklch(0.9815397468057248 0.008834230090600526 179.60812926196164);
  --color-teal-100: oklch(0.9602522987244663 0.02593101401802669 181.86463903771232);
  --color-teal-200: oklch(0.9339873845311162 0.04209720835677198 179.80315885272486);
  --color-teal-300: oklch(0.8995023399477469 0.053108613834327335 181.4698193737952);
  --color-teal-400: oklch(0.855784654590929 0.06428731606402648 181.17343216961464);
  --color-teal-500: oklch(0.7963579872415923 0.076033235819767 182.9692026919628);
  --color-teal-600: oklch(0.7214361036401036 0.09735574416904999 183.2848377487721);
  --color-teal-700: oklch(0.6490769899050689 0.113572285296684 181.9625306628105);
  --color-teal-800: oklch(0.6193167071006916 0.10941786212839616 181.29927030531155);
  --color-teal-900: oklch(0.5520727432013377 0.10100732513450794 178.79422759366753);
  --color-teal-950: oklch(0.32720543878858355 0.050675978015530206 184.99144987487895);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-teal-25: oklch(0.18723259066797662 0.012199422349499481 186.67182796512333);
    --color-teal-50: oklch(0.21554658805593502 0.01587689037854614 189.00199401202568);
    --color-teal-100: oklch(0.2725388440706867 0.037695042120998244 186.75587837439116);
    --color-teal-200: oklch(0.3178404453151655 0.054324028436041616 187.26951556554897);
    --color-teal-300: oklch(0.36325530631501424 0.060116484412133006 186.64310872718582);
    --color-teal-400: oklch(0.4144259600307628 0.06553614571722681 184.74646849050617);
    --color-teal-500: oklch(0.4730862196680134 0.07373944900363075 184.95155603539155);
    --color-teal-600: oklch(0.537401137057216 0.08607450317517548 183.4851304231422);
    --color-teal-700: oklch(0.6490769899050689 0.113572285296684 181.9625306628105);
    --color-teal-800: oklch(0.6880156495003652 0.12279200651585671 180.3063246506291);
    --color-teal-900: oklch(0.7885615942021744 0.14669661948187565 175.72725810186887);
    --color-teal-950: oklch(0.9051278924049107 0.07207959653772766 175.12509279935787);
  }
}

.dark {
  --color-teal-25: oklch(0.18723259066797662 0.012199422349499481 186.67182796512333);
  --color-teal-50: oklch(0.21554658805593502 0.01587689037854614 189.00199401202568);
  --color-teal-100: oklch(0.2725388440706867 0.037695042120998244 186.75587837439116);
  --color-teal-200: oklch(0.3178404453151655 0.054324028436041616 187.26951556554897);
  --color-teal-300: oklch(0.36325530631501424 0.060116484412133006 186.64310872718582);
  --color-teal-400: oklch(0.4144259600307628 0.06553614571722681 184.74646849050617);
  --color-teal-500: oklch(0.4730862196680134 0.07373944900363075 184.95155603539155);
  --color-teal-600: oklch(0.537401137057216 0.08607450317517548 183.4851304231422);
  --color-teal-700: oklch(0.6490769899050689 0.113572285296684 181.9625306628105);
  --color-teal-800: oklch(0.6880156495003652 0.12279200651585671 180.3063246506291);
  --color-teal-900: oklch(0.7885615942021744 0.14669661948187565 175.72725810186887);
  --color-teal-950: oklch(0.9051278924049107 0.07207959653772766 175.12509279935787);
}
