@theme {
  --color-tomato-25: var(--color-tomato-25);
  --color-tomato-50: var(--color-tomato-50);
  --color-tomato-100: var(--color-tomato-100);
  --color-tomato-200: var(--color-tomato-200);
  --color-tomato-300: var(--color-tomato-300);
  --color-tomato-400: var(--color-tomato-400);
  --color-tomato-500: var(--color-tomato-500);
  --color-tomato-600: var(--color-tomato-600);
  --color-tomato-700: var(--color-tomato-700);
  --color-tomato-800: var(--color-tomato-800);
  --color-tomato-900: var(--color-tomato-900);
  --color-tomato-950: var(--color-tomato-950);
}

:root {
  --color-tomato-25: oklch(0.9933571731928064 0.003193069994567531 17.21113615364867);
  --color-tomato-50: oklch(0.9842476165652391 0.007627763212392548 27.227067388608685);
  --color-tomato-100: oklch(0.9541113473170846 0.021462554952546932 31.78025042387984);
  --color-tomato-200: oklch(0.9212301432651492 0.040994792890896865 34.76083289841611);
  --color-tomato-300: oklch(0.8889683055255438 0.05901141076433467 32.558151992410494);
  --color-tomato-400: oklch(0.8531988589393174 0.0769923343672292 32.62563828070095);
  --color-tomato-500: oklch(0.8020454459479193 0.09455892392201085 32.18711130235644);
  --color-tomato-600: oklch(0.7409157734101052 0.1184267337356744 32.25109015983554);
  --color-tomato-700: oklch(0.6270760050749176 0.1935843160939939 33.33898694471806);
  --color-tomato-800: oklch(0.6034561763324503 0.19474558804989284 33.21956047847344);
  --color-tomato-900: oklch(0.5664688816010554 0.19776967622570485 32.72588423416363);
  --color-tomato-950: oklch(0.34592327595634814 0.07978364696036823 30.390114848966817);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-tomato-25: oklch(0.18662191906972161 0.011747991571798856 18.258223438807963);
    --color-tomato-50: oklch(0.20782555034956166 0.016985989998881165 31.43121182595854);
    --color-tomato-100: oklch(0.25474044068927226 0.054766989850624566 26.763559134359323);
    --color-tomato-200: oklch(0.29023530466225345 0.08661900373553764 27.75531598819346);
    --color-tomato-300: oklch(0.3310971092127011 0.09753369737105473 28.626153147313463);
    --color-tomato-400: oklch(0.3800057643203486 0.1003280552734277 29.897992147607386);
    --color-tomato-500: oklch(0.44635566178293573 0.10625761348048196 31.60780691681867);
    --color-tomato-600: oklch(0.538064282459462 0.1293784356734251 33.40709153335006);
    --color-tomato-700: oklch(0.6270760050749176 0.1935843160939939 33.33898694471806);
    --color-tomato-800: oklch(0.6642924957741809 0.17859307729112098 34.08637758991127);
    --color-tomato-900: oklch(0.7793545070078114 0.13103790862427697 34.90630508658691);
    --color-tomato-950: oklch(0.8986727839890307 0.04649766443426697 31.233027120045133);
  }
}

.dark {
  --color-tomato-25: oklch(0.18662191906972161 0.011747991571798856 18.258223438807963);
  --color-tomato-50: oklch(0.20782555034956166 0.016985989998881165 31.43121182595854);
  --color-tomato-100: oklch(0.25474044068927226 0.054766989850624566 26.763559134359323);
  --color-tomato-200: oklch(0.29023530466225345 0.08661900373553764 27.75531598819346);
  --color-tomato-300: oklch(0.3310971092127011 0.09753369737105473 28.626153147313463);
  --color-tomato-400: oklch(0.3800057643203486 0.1003280552734277 29.897992147607386);
  --color-tomato-500: oklch(0.44635566178293573 0.10625761348048196 31.60780691681867);
  --color-tomato-600: oklch(0.538064282459462 0.1293784356734251 33.40709153335006);
  --color-tomato-700: oklch(0.6270760050749176 0.1935843160939939 33.33898694471806);
  --color-tomato-800: oklch(0.6642924957741809 0.17859307729112098 34.08637758991127);
  --color-tomato-900: oklch(0.7793545070078114 0.13103790862427697 34.90630508658691);
  --color-tomato-950: oklch(0.8986727839890307 0.04649766443426697 31.233027120045133);
}
