@theme {
  --color-violet-25: var(--color-violet-25);
  --color-violet-50: var(--color-violet-50);
  --color-violet-100: var(--color-violet-100);
  --color-violet-200: var(--color-violet-200);
  --color-violet-300: var(--color-violet-300);
  --color-violet-400: var(--color-violet-400);
  --color-violet-500: var(--color-violet-500);
  --color-violet-600: var(--color-violet-600);
  --color-violet-700: var(--color-violet-700);
  --color-violet-800: var(--color-violet-800);
  --color-violet-900: var(--color-violet-900);
  --color-violet-950: var(--color-violet-950);
}

:root {
  --color-violet-25: oklch(0.9923880908013019 0.0028273614491625 308.4287412332791);
  --color-violet-50: oklch(0.9826404964085528 0.009468096960748405 299.2444312228808);
  --color-violet-100: oklch(0.9622754671013195 0.01905588186679732 299.07023199510616);
  --color-violet-200: oklch(0.9324720064953433 0.03695078314813738 297.5371909664944);
  --color-violet-300: oklch(0.9035118855556888 0.052159379471221776 294.98545482880814);
  --color-violet-400: oklch(0.8641806902020457 0.07207563431215258 293.6520687557248);
  --color-violet-500: oklch(0.8062265937774226 0.09022978841433196 293.58911004914626);
  --color-violet-600: oklch(0.7297289178421835 0.11928949918509635 292.59536878228073);
  --color-violet-700: oklch(0.5416800391627855 0.1790275390714686 288.03321393825547);
  --color-violet-800: oklch(0.5108815906144357 0.1774590199184491 287.68410599022593);
  --color-violet-900: oklch(0.5078319044929399 0.15891793105907573 288.637242242356);
  --color-violet-950: oklch(0.3128093425266991 0.09748632812569763 286.5654167779808);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-violet-25: oklch(0.19135860684563247 0.02613174618852635 290.76447168899085);
    --color-violet-50: oklch(0.21113324386450796 0.032046887863791756 300.93156047335776);
    --color-violet-100: oklch(0.27073433463112123 0.0654819782866163 294.41367597527505);
    --color-violet-200: oklch(0.31179736284215703 0.09295174487424515 292.08081396259183);
    --color-violet-300: oklch(0.34918141213933473 0.0991311264987257 291.33349617669563);
    --color-violet-400: oklch(0.38891063152369537 0.10212636677270065 292.1151514385123);
    --color-violet-500: oklch(0.44452787361869384 0.11033864261349074 291.9679757216057);
    --color-violet-600: oklch(0.5177389479663973 0.13054117888724556 290.2866565375546);
    --color-violet-700: oklch(0.5416800391627855 0.1790275390714686 288.03321393825547);
    --color-violet-800: oklch(0.5886228879222641 0.1692205455198365 289.35406255763354);
    --color-violet-900: oklch(0.7778318075471888 0.12462460079498758 293.19424304743296);
    --color-violet-950: oklch(0.911651330754873 0.04495491360263556 292.43639386655644);
  }
}

.dark {
  --color-violet-25: oklch(0.19135860684563247 0.02613174618852635 290.76447168899085);
  --color-violet-50: oklch(0.21113324386450796 0.032046887863791756 300.93156047335776);
  --color-violet-100: oklch(0.27073433463112123 0.0654819782866163 294.41367597527505);
  --color-violet-200: oklch(0.31179736284215703 0.09295174487424515 292.08081396259183);
  --color-violet-300: oklch(0.34918141213933473 0.0991311264987257 291.33349617669563);
  --color-violet-400: oklch(0.38891063152369537 0.10212636677270065 292.1151514385123);
  --color-violet-500: oklch(0.44452787361869384 0.11033864261349074 291.9679757216057);
  --color-violet-600: oklch(0.5177389479663973 0.13054117888724556 290.2866565375546);
  --color-violet-700: oklch(0.5416800391627855 0.1790275390714686 288.03321393825547);
  --color-violet-800: oklch(0.5886228879222641 0.1692205455198365 289.35406255763354);
  --color-violet-900: oklch(0.7778318075471888 0.12462460079498758 293.19424304743296);
  --color-violet-950: oklch(0.911651330754873 0.04495491360263556 292.43639386655644);
}
