@theme {
  --color-yellow-25: var(--color-yellow-25);
  --color-yellow-50: var(--color-yellow-50);
  --color-yellow-100: var(--color-yellow-100);
  --color-yellow-200: var(--color-yellow-200);
  --color-yellow-300: var(--color-yellow-300);
  --color-yellow-400: var(--color-yellow-400);
  --color-yellow-500: var(--color-yellow-500);
  --color-yellow-600: var(--color-yellow-600);
  --color-yellow-700: var(--color-yellow-700);
  --color-yellow-800: var(--color-yellow-800);
  --color-yellow-900: var(--color-yellow-900);
  --color-yellow-950: var(--color-yellow-950);
}

:root {
  --color-yellow-25: oklch(0.9929449343629914 0.005259247397854832 106.49499479072634);
  --color-yellow-50: oklch(0.98755055818373 0.024941735941958296 101.94828700536591);
  --color-yellow-100: oklch(0.9735264382008919 0.08377643874294738 104.19769620143845);
  --color-yellow-200: oklch(0.9534002805098072 0.11691520872308919 102.05518433763353);
  --color-yellow-300: oklch(0.9246769323722543 0.1409614615804401 98.07320572789091);
  --color-yellow-400: oklch(0.8810825692907065 0.133975461955162 95.33838714536053);
  --color-yellow-500: oklch(0.835081090049542 0.12040870168166086 92.84362368067757);
  --color-yellow-600: oklch(0.7656553633810177 0.13716282925232315 89.7445824510656);
  --color-yellow-700: oklch(0.9175794438570772 0.18377091036473575 100.93612550143936);
  --color-yellow-800: oklch(0.8966991153978167 0.18506197182538403 97.44499504646545);
  --color-yellow-900: oklch(0.5691218117300106 0.11915676563525462 76.80992404616222);
  --color-yellow-950: oklch(0.3578176306928784 0.04605654462815229 86.87968204436662);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-yellow-25: oklch(0.1820826339708329 0.013920765856947594 94.03034990585657);
    --color-yellow-50: oklch(0.2094663011807 0.017359746383735004 91.8140072129773);
    --color-yellow-100: oklch(0.26094224767910734 0.04715020784739294 90.26091846635279);
    --color-yellow-200: oklch(0.29289716951450046 0.06002979217808151 93.79771039223343);
    --color-yellow-300: oklch(0.334640803823243 0.06848073837008509 92.46091026654388);
    --color-yellow-400: oklch(0.3848979044937333 0.0776218817727398 92.90628621821024);
    --color-yellow-500: oklch(0.45204932559539174 0.08088714341714866 91.97169949715986);
    --color-yellow-600: oklch(0.53491406786108 0.09466440831292654 89.38400088363731);
    --color-yellow-700: oklch(0.9175794438570772 0.18377091036473575 100.93612550143936);
    --color-yellow-800: oklch(0.9710978582745075 0.18192666044391828 109.35780476820055);
    --color-yellow-900: oklch(0.9001124052389721 0.1663739313820918 101.71601740286295);
    --color-yellow-950: oklch(0.941547378467302 0.0748440886636023 101.10732262502101);
  }
}

.dark {
  --color-yellow-25: oklch(0.1820826339708329 0.013920765856947594 94.03034990585657);
  --color-yellow-50: oklch(0.2094663011807 0.017359746383735004 91.8140072129773);
  --color-yellow-100: oklch(0.26094224767910734 0.04715020784739294 90.26091846635279);
  --color-yellow-200: oklch(0.29289716951450046 0.06002979217808151 93.79771039223343);
  --color-yellow-300: oklch(0.334640803823243 0.06848073837008509 92.46091026654388);
  --color-yellow-400: oklch(0.3848979044937333 0.0776218817727398 92.90628621821024);
  --color-yellow-500: oklch(0.45204932559539174 0.08088714341714866 91.97169949715986);
  --color-yellow-600: oklch(0.53491406786108 0.09466440831292654 89.38400088363731);
  --color-yellow-700: oklch(0.9175794438570772 0.18377091036473575 100.93612550143936);
  --color-yellow-800: oklch(0.9710978582745075 0.18192666044391828 109.35780476820055);
  --color-yellow-900: oklch(0.9001124052389721 0.1663739313820918 101.71601740286295);
  --color-yellow-950: oklch(0.941547378467302 0.0748440886636023 101.10732262502101);
}
