@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  /* Radius */
  --radius-xs: 3px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;

  /* Shadows */
  --shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  /* Colors */
  --color-slate-25: var(--color-slate-25);
  --color-slate-50: var(--color-slate-50);
  --color-slate-100: var(--color-slate-100);
  --color-slate-200: var(--color-slate-200);
  --color-slate-300: var(--color-slate-300);
  --color-slate-400: var(--color-slate-400);
  --color-slate-500: var(--color-slate-500);
  --color-slate-600: var(--color-slate-600);
  --color-slate-700: var(--color-slate-700);
  --color-slate-800: var(--color-slate-800);
  --color-slate-900: var(--color-slate-900);
  --color-slate-950: var(--color-slate-950);
  --color-primary-25: var(--color-primary-25);
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-950: var(--color-primary-950);
  --color-danger-25: var(--color-danger-25);
  --color-danger-50: var(--color-danger-50);
  --color-danger-100: var(--color-danger-100);
  --color-danger-200: var(--color-danger-200);
  --color-danger-300: var(--color-danger-300);
  --color-danger-400: var(--color-danger-400);
  --color-danger-500: var(--color-danger-500);
  --color-danger-600: var(--color-danger-600);
  --color-danger-700: var(--color-danger-700);
  --color-danger-800: var(--color-danger-800);
  --color-danger-900: var(--color-danger-900);
  --color-danger-950: var(--color-danger-950);
  --color-success-25: var(--color-success-25);
  --color-success-50: var(--color-success-50);
  --color-success-100: var(--color-success-100);
  --color-success-200: var(--color-success-200);
  --color-success-300: var(--color-success-300);
  --color-success-400: var(--color-success-400);
  --color-success-500: var(--color-success-500);
  --color-success-600: var(--color-success-600);
  --color-success-700: var(--color-success-700);
  --color-success-800: var(--color-success-800);
  --color-success-900: var(--color-success-900);
  --color-success-950: var(--color-success-950);
  --color-warning-25: var(--color-warning-25);
  --color-warning-50: var(--color-warning-50);
  --color-warning-100: var(--color-warning-100);
  --color-warning-200: var(--color-warning-200);
  --color-warning-300: var(--color-warning-300);
  --color-warning-400: var(--color-warning-400);
  --color-warning-500: var(--color-warning-500);
  --color-warning-600: var(--color-warning-600);
  --color-warning-700: var(--color-warning-700);
  --color-warning-800: var(--color-warning-800);
  --color-warning-900: var(--color-warning-900);
  --color-warning-950: var(--color-warning-950);
  --color-info-25: var(--color-info-25);
  --color-info-50: var(--color-info-50);
  --color-info-100: var(--color-info-100);
  --color-info-200: var(--color-info-200);
  --color-info-300: var(--color-info-300);
  --color-info-400: var(--color-info-400);
  --color-info-500: var(--color-info-500);
  --color-info-600: var(--color-info-600);
  --color-info-700: var(--color-info-700);
  --color-info-800: var(--color-info-800);
  --color-info-900: var(--color-info-900);
  --color-info-950: var(--color-info-950);
}

:root {
  --color-slate-25: oklch(0.9913482108162063 0.0013178094108299422 286.3755507163385);
  --color-slate-50: oklch(0.9826788779385844 0.0026423780091138966 286.3508935335121);
  --color-slate-100: oklch(0.9559900282872695 0.003992511514283844 286.32386252930576);
  --color-slate-200: oklch(0.9321428975074262 0.005359253108439423 286.2952078218601);
  --color-slate-300: oklch(0.9104177080543252 0.006845792863608737 277.1556785816534);
  --color-slate-400: oklch(0.8873499910660121 0.009506548822754632 286.2043390917893);
  --color-slate-500: oklch(0.8530056031859505 0.011054069006616863 280.445857524017);
  --color-slate-600: oklch(0.7938433229326276 0.015600983960855517 277.7889854406332);
  --color-slate-700: oklch(0.645313935869397 0.016454192211054913 277.69978370707054);
  --color-slate-800: oklch(0.6107504019429953 0.015457557557107279 272.564973530216);
  --color-slate-900: oklch(0.5024886403558039 0.013621269731076363 264.4449530077313);
  --color-slate-950: oklch(0.24113013944501638 0.009690541997275762 248.2290218435311);
  --color-primary-25: oklch(0.9943272584181484 0.001316819468925067 286.3756409048369);
  --color-primary-50: oklch(0.9823070052085769 0.008252495789181781 271.3302154312519);
  --color-primary-100: oklch(0.9608590555503868 0.016960622585210992 267.7912624545927);
  --color-primary-200: oklch(0.9346114215018886 0.031039156695351695 269.81867124794127);
  --color-primary-300: oklch(0.901944349294943 0.047147793848739364 269.61569193704173);
  --color-primary-400: oklch(0.8619549914647316 0.06752710014857384 271.0877275375154);
  --color-primary-500: oklch(0.8061550712002221 0.08753800013836648 271.4134665994676);
  --color-primary-600: oklch(0.7308525240178193 0.11233296243895294 270.4290265318756);
  --color-primary-700: oklch(0.5437501345186921 0.19101547856662673 267.0053855348301);
  --color-primary-800: oklch(0.5106461155017719 0.19537378502323408 266.57791379310527);
  --color-primary-900: oklch(0.5092144043389489 0.17249977237830166 267.1656385230242);
  --color-primary-950: oklch(0.3126369828673238 0.0858210769234776 268.596400981394);
  --color-danger-25: oklch(0.9933571731928064 0.003193069994567531 17.21113615364867);
  --color-danger-50: oklch(0.9823195576495474 0.0085755706692541 17.302439384699486);
  --color-danger-100: oklch(0.9554710057762619 0.020717866891570846 13.856632631303546);
  --color-danger-200: oklch(0.9217216793043504 0.04011017340302747 16.00440448299363);
  --color-danger-300: oklch(0.892040634046482 0.05674547469774967 16.92570450414993);
  --color-danger-400: oklch(0.8569037327047894 0.07407192376253545 17.676140770753225);
  --color-danger-500: oklch(0.8069875005376685 0.08879096514336951 18.320089553485147);
  --color-danger-600: oklch(0.7443365664450678 0.11325241478473212 18.752894078010026);
  --color-danger-700: oklch(0.6255652610932986 0.19333992907896502 23.026060464778094);
  --color-danger-800: oklch(0.5990206774026189 0.1946557019918513 24.035342618622103);
  --color-danger-900: oklch(0.5570030693746768 0.19742992665996062 25.168143069688604);
  --color-danger-950: oklch(0.33899122502767054 0.1089081795700506 16.600129648121957);
  --color-success-25: oklch(0.9942084371167772 0.004101419904178148 157.18115241854773);
  --color-success-50: oklch(0.9814482287164932 0.009875697813765821 155.100734587479);
  --color-success-100: oklch(0.9582472759077888 0.022273767587429574 155.92503344218656);
  --color-success-200: oklch(0.9335325521391997 0.03718314901583093 156.42916500007038);
  --color-success-300: oklch(0.8988006797577687 0.04894152561211374 157.24856436088845);
  --color-success-400: oklch(0.8558209326315307 0.0640551648238654 158.20428422264095);
  --color-success-500: oklch(0.7981521738042707 0.0831645913191352 159.14948558845174);
  --color-success-600: oklch(0.7155861596060153 0.11330640993306258 160.2754162252232);
  --color-success-700: oklch(0.6405974896944662 0.13287542453032578 157.6795339418218);
  --color-success-800: oklch(0.611471567162428 0.12663853615102105 158.2284235638926);
  --color-success-900: oklch(0.5434642728937475 0.11159671674174795 159.49730549085808);
  --color-success-950: oklch(0.3219842841396231 0.04750204476230729 164.5340330489758);
  --color-warning-25: oklch(0.9942541896737754 0.002849138244597495 84.55868569877624);
  --color-warning-50: oklch(0.9855939940957877 0.023785013555473574 99.09569716530252);
  --color-warning-100: oklch(0.9695443643351532 0.06841627443081028 100.38795051558503);
  --color-warning-200: oklch(0.9446686601589552 0.1034376540063778 97.9087581287153);
  --color-warning-300: oklch(0.9179911694441543 0.13263771592782694 98.23079444791232);
  --color-warning-400: oklch(0.880405693052434 0.12326628105942315 93.39193068705886);
  --color-warning-500: oklch(0.8272681883245504 0.12242725537088597 86.69477290956539);
  --color-warning-600: oklch(0.757679874297181 0.14027803698253408 76.71982888575108);
  --color-warning-700: oklch(0.8536967789704296 0.15720694956284398 84.12997707143718);
  --color-warning-800: oklch(0.831294864496191 0.16791622087977232 80.84743810775538);
  --color-warning-900: oklch(0.5706475243309929 0.12913673859995195 63.93790600181528);
  --color-warning-950: oklch(0.3521885835920864 0.04863304169569031 54.16860365751982);
  --color-info-25: oklch(0.9930984190782393 0.0034049843333749798 247.85736241017523);
  --color-info-50: oklch(0.9820183358295107 0.009238180527092698 242.8346985214995);
  --color-info-100: oklch(0.9596768290138277 0.02006100737850169 238.6626432339594);
  --color-info-200: oklch(0.9380669580012171 0.034959603625584895 234.80169664841554);
  --color-info-300: oklch(0.9050749116222915 0.0512961622759032 240.3114177919049);
  --color-info-400: oklch(0.8632663494186753 0.06820339226845772 243.31581953568468);
  --color-info-500: oklch(0.8097604920324861 0.08867402825877806 243.05422592118222);
  --color-info-600: oklch(0.733610119215165 0.12136452603066201 243.08938622324592);
  --color-info-700: oklch(0.6492939891713041 0.19304008980583812 251.77988723075362);
  --color-info-800: oklch(0.6222994752859422 0.18311980749829765 251.7037909326084);
  --color-info-900: oklch(0.5557500913572343 0.16221959280226622 252.19470611629907);
  --color-info-950: oklch(0.32396334003232663 0.09638170265891938 258.81619990913237);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-slate-25: oklch(0.17852907193943607 0.004066350266412883 285.98065825000174);
    --color-slate-50: oklch(0.21317511836892525 0.004212613841596372 264.47888103888835);
    --color-slate-100: oklch(0.252140135398954 0.005820766766438508 271.1816457486491);
    --color-slate-200: oklch(0.28319331936675085 0.006987935202722144 248.07497141084758);
    --color-slate-300: oklch(0.3117746163743208 0.008302132084376482 255.56008912619262);
    --color-slate-400: oklch(0.3465519011371717 0.010287899196251166 253.97108948497896);
    --color-slate-500: oklch(0.3992805860718126 0.012058548421461163 252.9389085158527);
    --color-slate-600: oklch(0.48931770858549567 0.015513375023534014 251.6908389866781);
    --color-slate-700: oklch(0.5370044610936577 0.01531792285958656 262.3428499745812);
    --color-slate-800: oklch(0.5825137487432553 0.014543350004401828 266.62602082840556);
    --color-slate-900: oklch(0.7685604793654067 0.009640644817342885 258.3418587268999);
    --color-slate-950: oklch(0.9489207911782953 0.0028876627761423557 264.5417810017685);
    --color-primary-25: oklch(0.19086497612018405 0.024568029771269786 276.52667008611036);
    --color-primary-50: oklch(0.2093675771374216 0.030150536784077538 274.8373079498625);
    --color-primary-100: oklch(0.27156722556153234 0.07050632898944016 267.97983340662853);
    --color-primary-200: oklch(0.3184535271902934 0.09462981622145829 267.2480220216005);
    --color-primary-300: oklch(0.3624675208270943 0.10437340063171481 267.025528900155);
    --color-primary-400: oklch(0.40329754819556457 0.11122867581429045 268.7591308157967);
    --color-primary-500: oklch(0.4490662470355627 0.12009583745989635 268.9392524961763);
    --color-primary-600: oklch(0.5020829475318538 0.1366061579181455 268.2520306032359);
    --color-primary-700: oklch(0.5437501345186921 0.19101547856662673 267.0053855348301);
    --color-primary-800: oklch(0.5891492562944081 0.175765036167325 269.2961648073301);
    --color-primary-900: oklch(0.7758734846407291 0.1137960542689867 273.01910290950985);
    --color-primary-950: oklch(0.9107823474560504 0.042746109136455816 269.5516142600503);
    --color-danger-25: oklch(0.18802930758085837 0.01345353388277149 18.42035113677581);
    --color-danger-50: oklch(0.2045751731276599 0.02167621302532975 14.063897535348294);
    --color-danger-100: oklch(0.2510498535330083 0.0649350206591782 12.692452475103607);
    --color-danger-200: oklch(0.28928530677226416 0.09510856034028958 14.330187006354345);
    --color-danger-300: oklch(0.3321147127393655 0.10666626630978158 15.52645415118837);
    --color-danger-400: oklch(0.38144044626931817 0.11081611004704049 16.803228539408444);
    --color-danger-500: oklch(0.45018098953893176 0.12106087018494774 18.774345256538105);
    --color-danger-600: oklch(0.543563325751152 0.14575659021976023 21.762040597679388);
    --color-danger-700: oklch(0.6255652610932986 0.19333992907896502 23.026060464778094);
    --color-danger-800: oklch(0.6633849954203398 0.177389123303089 22.85075690714469);
    --color-danger-900: oklch(0.7804143472282056 0.12811585963022615 22.139494013017487);
    --color-danger-950: oklch(0.9023648198906302 0.05267565620951902 6.454056514077958);
    --color-success-25: oklch(0.1872915606366927 0.012269449730490975 167.00871315111763);
    --color-success-50: oklch(0.21165663280861044 0.01537452182974883 165.91454574887587);
    --color-success-100: oklch(0.2721436097208423 0.03957561392006879 162.17055697050836);
    --color-success-200: oklch(0.3172719921089903 0.05693419582213001 161.8447032374668);
    --color-success-300: oklch(0.36492790743921083 0.06603359732129725 161.2285237608269);
    --color-success-400: oklch(0.4124487487311898 0.07214638832764679 160.94807359990375);
    --color-success-500: oklch(0.4669814549837858 0.08232305419967632 160.24189302136986);
    --color-success-600: oklch(0.5280329525558962 0.09628022269746786 159.3904607380628);
    --color-success-700: oklch(0.6405974896944662 0.13287542453032578 157.6795339418218);
    --color-success-800: oklch(0.6745870809526345 0.1406276833553888 157.70383393118507);
    --color-success-900: oklch(0.77943043974701 0.16548017894614564 157.28650307141297);
    --color-success-950: oklch(0.9048403813740985 0.082956417371095 158.18101774043575);
    --color-warning-25: oklch(0.18496364087046369 0.013359959535837317 77.79605270245312);
    --color-warning-50: oklch(0.2119861368705354 0.018407650167291928 81.98600713701707);
    --color-warning-100: oklch(0.257808559766789 0.04421859463029474 74.47810000728678);
    --color-warning-200: oklch(0.29550007290079866 0.06266537366308222 73.87895539470946);
    --color-warning-300: oklch(0.33631868818884497 0.07167260952107071 72.89762996033014);
    --color-warning-400: oklch(0.3863324864692717 0.07838541353467135 75.25462654709607);
    --color-warning-500: oklch(0.4542406121348809 0.0823548590723581 74.95844153293264);
    --color-warning-600: oklch(0.5363794136131023 0.09638509337838844 73.43524387082472);
    --color-warning-700: oklch(0.8536967789704296 0.15720694956284398 84.12997707143718);
    --color-warning-800: oklch(0.884914165162036 0.18051275801021477 94.78432215497106);
    --color-warning-900: oklch(0.8616673967420055 0.17297358236844246 89.01771080135936);
    --color-warning-950: oklch(0.9350519584455906 0.07171007869261385 86.06819062869732);
    --color-info-25: oklch(0.1936070279297195 0.02549655789639892 256.49191188520706);
    --color-info-50: oklch(0.21292659788726812 0.03033650082084314 261.25201047927465);
    --color-info-100: oklch(0.2744698831852207 0.0662886586564977 253.9315073348213);
    --color-info-200: oklch(0.32013790276118737 0.09677641827269545 252.34671619606496);
    --color-info-300: oklch(0.3670961770754216 0.10588254227733479 250.7011849312796);
    --color-info-400: oklch(0.41602763683555055 0.11325662282557453 252.00621940585464);
    --color-info-500: oklch(0.47410641230504363 0.12186873073733522 253.08758216841832);
    --color-info-600: oklch(0.5405667979459539 0.13953784671737107 253.1746368852062);
    --color-info-700: oklch(0.6492939891713041 0.19304008980583812 251.77988723075362);
    --color-info-800: oklch(0.6883830887587808 0.16932526056453565 251.40403261893255);
    --color-info-900: oklch(0.7642204837998656 0.12574737576189024 249.46439612957434);
    --color-info-950: oklch(0.9071247503103806 0.05103558120149215 238.44825328761186);
  }
}

.dark {
  --color-slate-25: oklch(0.17852907193943607 0.004066350266412883 285.98065825000174);
  --color-slate-50: oklch(0.21317511836892525 0.004212613841596372 264.47888103888835);
  --color-slate-100: oklch(0.252140135398954 0.005820766766438508 271.1816457486491);
  --color-slate-200: oklch(0.28319331936675085 0.006987935202722144 248.07497141084758);
  --color-slate-300: oklch(0.3117746163743208 0.008302132084376482 255.56008912619262);
  --color-slate-400: oklch(0.3465519011371717 0.010287899196251166 253.97108948497896);
  --color-slate-500: oklch(0.3992805860718126 0.012058548421461163 252.9389085158527);
  --color-slate-600: oklch(0.48931770858549567 0.015513375023534014 251.6908389866781);
  --color-slate-700: oklch(0.5370044610936577 0.01531792285958656 262.3428499745812);
  --color-slate-800: oklch(0.5825137487432553 0.014543350004401828 266.62602082840556);
  --color-slate-900: oklch(0.7685604793654067 0.009640644817342885 258.3418587268999);
  --color-slate-950: oklch(0.9489207911782953 0.0028876627761423557 264.5417810017685);
  --color-primary-25: oklch(0.19086497612018405 0.024568029771269786 276.52667008611036);
  --color-primary-50: oklch(0.2093675771374216 0.030150536784077538 274.8373079498625);
  --color-primary-100: oklch(0.27156722556153234 0.07050632898944016 267.97983340662853);
  --color-primary-200: oklch(0.3184535271902934 0.09462981622145829 267.2480220216005);
  --color-primary-300: oklch(0.3624675208270943 0.10437340063171481 267.025528900155);
  --color-primary-400: oklch(0.40329754819556457 0.11122867581429045 268.7591308157967);
  --color-primary-500: oklch(0.4490662470355627 0.12009583745989635 268.9392524961763);
  --color-primary-600: oklch(0.5020829475318538 0.1366061579181455 268.2520306032359);
  --color-primary-700: oklch(0.5437501345186921 0.19101547856662673 267.0053855348301);
  --color-primary-800: oklch(0.5891492562944081 0.175765036167325 269.2961648073301);
  --color-primary-900: oklch(0.7758734846407291 0.1137960542689867 273.01910290950985);
  --color-primary-950: oklch(0.9107823474560504 0.042746109136455816 269.5516142600503);
  --color-danger-25: oklch(0.18802930758085837 0.01345353388277149 18.42035113677581);
  --color-danger-50: oklch(0.2045751731276599 0.02167621302532975 14.063897535348294);
  --color-danger-100: oklch(0.2510498535330083 0.0649350206591782 12.692452475103607);
  --color-danger-200: oklch(0.28928530677226416 0.09510856034028958 14.330187006354345);
  --color-danger-300: oklch(0.3321147127393655 0.10666626630978158 15.52645415118837);
  --color-danger-400: oklch(0.38144044626931817 0.11081611004704049 16.803228539408444);
  --color-danger-500: oklch(0.45018098953893176 0.12106087018494774 18.774345256538105);
  --color-danger-600: oklch(0.543563325751152 0.14575659021976023 21.762040597679388);
  --color-danger-700: oklch(0.6255652610932986 0.19333992907896502 23.026060464778094);
  --color-danger-800: oklch(0.6633849954203398 0.177389123303089 22.85075690714469);
  --color-danger-900: oklch(0.7804143472282056 0.12811585963022615 22.139494013017487);
  --color-danger-950: oklch(0.9023648198906302 0.05267565620951902 6.454056514077958);
  --color-success-25: oklch(0.1872915606366927 0.012269449730490975 167.00871315111763);
  --color-success-50: oklch(0.21165663280861044 0.01537452182974883 165.91454574887587);
  --color-success-100: oklch(0.2721436097208423 0.03957561392006879 162.17055697050836);
  --color-success-200: oklch(0.3172719921089903 0.05693419582213001 161.8447032374668);
  --color-success-300: oklch(0.36492790743921083 0.06603359732129725 161.2285237608269);
  --color-success-400: oklch(0.4124487487311898 0.07214638832764679 160.94807359990375);
  --color-success-500: oklch(0.4669814549837858 0.08232305419967632 160.24189302136986);
  --color-success-600: oklch(0.5280329525558962 0.09628022269746786 159.3904607380628);
  --color-success-700: oklch(0.6405974896944662 0.13287542453032578 157.6795339418218);
  --color-success-800: oklch(0.6745870809526345 0.1406276833553888 157.70383393118507);
  --color-success-900: oklch(0.77943043974701 0.16548017894614564 157.28650307141297);
  --color-success-950: oklch(0.9048403813740985 0.082956417371095 158.18101774043575);
  --color-warning-25: oklch(0.18496364087046369 0.013359959535837317 77.79605270245312);
  --color-warning-50: oklch(0.2119861368705354 0.018407650167291928 81.98600713701707);
  --color-warning-100: oklch(0.257808559766789 0.04421859463029474 74.47810000728678);
  --color-warning-200: oklch(0.29550007290079866 0.06266537366308222 73.87895539470946);
  --color-warning-300: oklch(0.33631868818884497 0.07167260952107071 72.89762996033014);
  --color-warning-400: oklch(0.3863324864692717 0.07838541353467135 75.25462654709607);
  --color-warning-500: oklch(0.4542406121348809 0.0823548590723581 74.95844153293264);
  --color-warning-600: oklch(0.5363794136131023 0.09638509337838844 73.43524387082472);
  --color-warning-700: oklch(0.8536967789704296 0.15720694956284398 84.12997707143718);
  --color-warning-800: oklch(0.884914165162036 0.18051275801021477 94.78432215497106);
  --color-warning-900: oklch(0.8616673967420055 0.17297358236844246 89.01771080135936);
  --color-warning-950: oklch(0.9350519584455906 0.07171007869261385 86.06819062869732);
  --color-info-25: oklch(0.1936070279297195 0.02549655789639892 256.49191188520706);
  --color-info-50: oklch(0.21292659788726812 0.03033650082084314 261.25201047927465);
  --color-info-100: oklch(0.2744698831852207 0.0662886586564977 253.9315073348213);
  --color-info-200: oklch(0.32013790276118737 0.09677641827269545 252.34671619606496);
  --color-info-300: oklch(0.3670961770754216 0.10588254227733479 250.7011849312796);
  --color-info-400: oklch(0.41602763683555055 0.11325662282557453 252.00621940585464);
  --color-info-500: oklch(0.47410641230504363 0.12186873073733522 253.08758216841832);
  --color-info-600: oklch(0.5405667979459539 0.13953784671737107 253.1746368852062);
  --color-info-700: oklch(0.6492939891713041 0.19304008980583812 251.77988723075362);
  --color-info-800: oklch(0.6883830887587808 0.16932526056453565 251.40403261893255);
  --color-info-900: oklch(0.7642204837998656 0.12574737576189024 249.46439612957434);
  --color-info-950: oklch(0.9071247503103806 0.05103558120149215 238.44825328761186);
}
